
footer{background-color : #FFF6EE;
    width: 100%;
   
    height: 400px;
    margin:auto;
    text-align: center;
}
.footer-section{
    margin:auto;
    max-width: 1200px;
    
    
}
.footer-main-logo{
    
    display: inline-block;
    margin:0 0;
    
}
.images>a{
    display: inline-block;
    
}
.images>a>img{
    
    width:50px;
    margin:0 30px;
    
}
footer>section>hr{
    border: 1px solid white;
    margin-bottom:30px;
}
.footer-notice>a{
    text-decoration: none;
    display: inline-block;
    margin: 40px 20px 15px 0;
    font-weight: bold;
    color:#909090;
}
.footer-notice>p{
    font-weight: bold;
    color:#909090;
}