@charset "UTF-8";

body{
    min-width: 1264px;
}
.main-banner{
    
    width:100%;
    height: 600px;
    background-image: url("../images/main/mainbanner3.png");
    background-repeat: no-repeat;
    background-size :cover;
    margin-bottom:70px;
}
.main-banner2{
    
    width:100%;
    height: 600px;
    background-image: url("../images/main/mainbanner1.jpg");
    background-repeat: no-repeat;
    background-size :cover;
    margin-bottom:70px;
}
.main-banner3{
    
    width:100%;
    height: 600px;
    background-image: url("../images/main/mainbanner2.png");
    background-repeat: no-repeat;
    background-size :cover;
    margin-bottom:70px;
}
.main-banner4{
    
    width:100%;
    height: 600px;
    background-image: url("../images/main/mainbanner2.jpg");
    background-repeat: no-repeat;
    background-size :cover;
    margin-bottom:70px;
}

.main-wrapper{
    width:1200px;
    margin:auto;
}
.story{
    margin-bottom: 150px;
}
.store{
    display: inline-block;
    margin-bottom:150px;
}
.store-pdt{
    width: 588px;
    height: 340px;
    
    background-size: cover;
    border-radius: 5px;
    display: inline-block;
}
.pdt1-img{
 background-image: url("../images/main/mainbread1.png");	
}
.pdt2-img{
 background-image: url("../images/main/mainbread2.png");	
}
.pdt3-img{
 background-image: url("../images/main/mainbread3.png");	
}

.store-ex{
    margin: 20px 0;
    width:382px;
    height: 270px;
    display: inline-block;
}
.moreBtn{
    width:120px;
    height:37px;
    border:3px solid #A78A6C;
    color:#A78A6C;
    font-weight: bold;
    line-height: 2.4;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}
.moreBtn:hover{
    width:100%;
    color:#FFF;
    background-color: #A78A6C;
    transition-duration: 0.5s;
}
.subscribe{
    text-align: center;
    
    height: 592px;

    background-color: #F6EFE3;
    margin-bottom:150px;
}
.subs-wrap{
    display: inline-block;
    
}
.subs-item{

    width:588px;
    height:380px;
    background-size:cover;
    background-repeat:no-repeat;
    display: inline-block;
    margin:12px 12px 0 12px;
    border-radius: 5px;
    
}
.subs-item:hover{
	padding:10px 10px 0 10px;
	
	transition-duration:0.4s;
}
.subs-img1{

	 background-image: url("../images/main/subs2.png");
	
}
.subs-img2{

	 background-image: url("../images/main/subs1.png");	
	
}
.one-day-class{
    text-align: center;
    margin-top:30px;
}
.fake-hr{
    width:408px;
    display: inline-block;
    border: 1px solid #828282;
    margin:0 40px;
    
}
.class-wrap{
    display: inline-block;
    width:588px;
    height:450px;
    margin-top: 30px;
}
.bigclass{
    background-size:cover;
    border-radius: 5px;
}
.smallclass{
    margin-left: 20px;
    width:282px;
    height:200px;
    background-size:cover;
    border-radius: 5px;
    background-position-y:-50px;
    
}
.class-img0{
	 background-image: url("../images/onedayclassList/classMain.jpg");	
}
.class-img1{
	 background-image: url("../images/class1.png");	
}
.class-img2{
	 background-image: url("../images/onedayclassList/macaron.jpg");	
}
.black-btn{
    width: 100px;
    height: 35px;
    background-color: #161700;
    color:#fff;
    line-height: 2;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
}
.class-wrapper{
    margin-bottom: 150px;
    width:100%;
}
.class-wrapper>*{
    display: inline-block;
}
.class-wrap>*{
    float:left;
}
.class-article{
    padding-left: 24px;
    width:260px;
    height:200px;
}
.class-article>p{
    margin-top:0px;
}
.fake-hr2{
    float: right;
    width:566px;
    border: 1px solid #828282;
    margin:25px 0;
}