
.category-set{
  width:1200px;
  margin:auto;
}
.main-wrapper{
  
  margin:auto;
}
.main-banner{
  
  background-image: url("../images/pdt-banner.png");
  background-repeat: no-repeat;
  height: 350px;
  background-size :cover;
  margin-bottom: 40px; 
}
.main-category{
  
 
  text-align: right;
  margin:0 10px 40px 0;
}
.main-category>li{
  display:inline;
  
  
}
.main-content{
  margin:auto;
  width:1200px;
}
.pdt-label{
  width:78px;
  height:25px;
  border-radius: 5px;
  text-align: center;
  color:white;
  margin-top:5px;
  font-weight: bold;
  line-height: 1.5;
  
}

.label-new,.label-sale{
  background-color:#F95858;
}
.label-best{
  background-color:#264D59;
}
.label-sold{
  background-color:#323232;
  
}


.pdt-img{
  width:280px;
  height:280px;
   background-image: url("../images/dog.jpg");
  background-repeat: no-repeat;
  background-size :cover;
  border-radius: 20px;
}

.pdt-box{
position:relative;
  margin-right: 15px;
  width:280px;
  display: inline-block;
  margin-bottom:100px;
}
.pdt-box:nth-child(4n){
  width:280px;
  display: inline-block;
  margin-bottom:100px;
}
.pagination{
  text-align: center;
  color:#787878;
  font-weight: bold;
  margin-bottom: 70px;
}

.pagination>li{
  display: inline-block;
  margin:auto;
  text-align: center;
}
.content{
  top:69%;
  right: 7%;
  position:absolute;
  width: 40px;
  height: 40px;
   border: 2px solid #eae2e1;
   border-radius: 50%;
   cursor: pointer;
   
 }
 .content.heart-active{
   border-color: #f9b9c4;
   background: #fbd0d8;
 }
 .heart{
   
   background: url("../images/store/heart.png") no-repeat;
   background-position: left;
   background-size: 2900%;
   height: 71px;
   width: 73px;
  
   transform: translate(-22%,-19%);
 }
 .text{
 
    top:80%;
    right: 8%;
   position: absolute;
   font-size: 13px;
   color: grey;
   font-weight: bold;
 }
 
 .text.heart-active{
   color: #000;
 }
 .heart.heart-active{
   animation: animate .8s steps(28) 1;
   background-position: right;
   
    
 }
 @keyframes animate {
   0%{
     background-position: left;
   }
   100%{
     background-position: right;
   }
 }
 