:root{
    --text-color : #323232;
    --accent-color : #564334;
    --gray-color : #f7f7f7;
}

html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Noto Sans Korean';
    font-weight: 500;
}

main{
    width: 70%;
    margin: auto;
    display: grid;
    align-items: center;
    scroll-behavior: smooth;
}

/* 메인 상단 카테고리 */
.main-nav{
    height: 60px;
    display: flex;
    align-items: center; 
    
    font-size: 13px;
}

.main-nav a{
   vertical-align: middle;
}

.product-area{
    width: 100%;
}

/* 좌측 썸네일 */
.product-thumbnail{
    width: 47%;
    margin: 0;
    float: left;
}

.product-thumbnail img:hover{
    cursor: pointer;
}
/* 메인 썸네일 영역 */
.main-img-area{
    width: 100%;
    height: 550px;
    margin: auto;
    overflow: hidden;
    align-items: center;
	justify-content : center;
    border-radius: 5px;
    margin: 0 0 15px 0;
}

/* 메인 썸네일 이미지 */
.main-img-area > img{
    width: 100%;
    height:100%;
    border-radius: 5px;
    
    object-fit: cover;
}

.main-img-area:hover img{
    transform:scale(1.1);
    transition-duration:0.4s;
}


.product-thumbnail div{    
    display: flex;
    width: 100%; 
}

.product-thumbnail div img{
    width: 22%;
    height: 140px;
    border-radius: 5px;
    
}
.img-margin{
    margin-right: auto;
}

.img-margin:last-child{
    margin-right: 0;
}
.review-content{
	display:block!important;
}
.review-content>p>img{
	display: block;
	width: 150px!important;
	height : 150px;
}
.review-content>p{
	display:
}
/* 우측 세부내용 */
.product_detail{  
    width: 47%;
    float: right;
    margin-left: 26px;
}

/* 상품명, 가격 영역*/
.category_product{
    height: 140px;
}

/* 상품명 */
.category-title{

    padding: 25px 0 25px 0;
}
.category-title span{
    font-size: 30px;
}

.like-heart{
    width: 40px;
    height: 40px;
}

.like-heart:hover{
    cursor: pointer;
}

.category_product span{
    font-weight: bold;
}

/* 가격 */
.sale{ 
    font-size: 20px;
    color: rgb(230, 63, 63); 
    margin-right: 5px;
}
.real-price{ 
    color: #B7B7B7; 
    margin-right: 15px;
    text-decoration: line-through;
}
.price{
    font-size: 25px;
    font-weight: bold;
}

/* 구분용 회색선  */
.bottom-line{
    border-bottom: 1px solid #B7B7B7;
}

/* 배송안내 */
.delivery-detail{
    height: 50px;
}
.delivery-detail span{
    display: inline-block;
    padding: 15px 0 15px 0;
    font-weight: bold;
}
.delievery-span{
    color: #D3AF8A;
}


/* 구독 옵션, 빵, 맛 종류 영역 */
.sub-detail{
    height: 80px;
    display: inline-flex; 
}

.sub-title, .btn-area{
    margin: auto;
}

.sub-title{
    width: 102px;
    padding-right: 24px;
}

.sub-title > span{   
    line-height: 40px;
    font-weight: bold;
}

/* 카테고리의 * (필요한 경우만 사용) */
/* .sub-title > span:last-child{
    color: #D3AF8A;
}
 */

/* 추가 옵션 선택영역 */
.align-div{
    text-align: right;
    line-height: 78px;
}

#align-div>span{
    display: inline-block;
    width: 120px;
    
    text-align: center;
}

#align-div>button{
    border: none;
    background: none;
    font-size: 15px;
}

#align-div>button:hover{
    cursor: pointer;
}


#selectcate-option{
    border: 1px solid #B7B7B7;
    border-radius: 5px;
    color: #B7B7B7;
    font-size: 15px;
    width: 420px;
    height: 30px;
    text-align: center;
     margin: 25px 0 25px 0;
}

/* 금액 영역 */
.buy-total{
    margin: auto;
}
.buy-total span{
    font-size: 20px;
}


/* 구매상품 확인 div */
.grayBox{
    height: 80px;
    background-color: var(--gray-color);
    border-radius: 5px;
}

.price{
    margin-bottom: 10px;
}

.choose-price{
    margin-bottom: 10px;
    font-weight: bold;
    line-height: 78px;
    
}
.choose-price span:last-child{
    float: right;
}


.choose-price, .choose-option{
    padding: 10px 20px 10px 20px ;
}

.choose-option span:first-child{
        padding: 10px 10px 10px 0px;
    font-size: 15px;
    font-weight: bold;
}

.clear-btn{
    float: right;
}

/* 수량구매버튼 */
.buy-count{
    padding: 10px;
    display: flex;
    align-items: center; 
    font-size: 15px;
}
.buy-count > span, .totalCount > span{
    font-size: 15px;
    margin: 0 10px 0 10px;
}

.totalCount{
    padding: 20px 0px;
    display: flex;
    align-items: center; 
    font-size: 15px;

}


.add-btn:hover, .minus-btn:hover{
    cursor: pointer;
    filter: contrast(0.8);
} 
.clear-btn:hover{
    cursor: pointer;
    background-color: rgb(209, 209, 209);
    border-radius: 50px;
}


/* 총 구매 금액 */
.total-price{
    width: 100%;
    display: inline-block;
    text-align: right;
    padding-top: 35px;
    padding-bottom: 35px;
    
}
.total-price p{
    font-size: 15px;
    line-height: 45px;
    margin-right: 10px;
    
    display: inline;
}
.total-price span{
    font-size: 25px;
    font-weight: bold;
}


/* 결제 버튼 */

.submit-sub{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.submit-sub button{
    font-size: 20px;
    width: 45%;
    height: 70px;
    font-weight: bold;
    display: inline; 
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.shopping-btn{
    color : var(--text-color);
    background-color: #f3f3f3;
}
.shopping-btn:hover{
    background-color: #cccccc;
    transition: 0.3s;
}

.submit-btn,.detail-contents>ul>li:hover{
    color: white;
    background-color: #A78A6C;
    transition: 0.3s;
    cursor:pointer;
}
.submit-btn:hover {
    background-color: #ceb498;
    transition: 0.3s;
}


/* 내용들 */
.contents-top-line{
    margin-top: 90px;
    border-bottom: 1px solid #B7B7B7;
}


.detail-contents{
    width: 100%;
    z-index: 2;
}
.detail-contents ul > li{
    width: 33%;
    height: 60px;
}


.detail-contents ul li{
   
    
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    line-height: 59px;
}



.contents-bottom-line{
    border-bottom: 3px solid #A78A6C;
}

/* 상품설명/ 리뷰 / 배송환불 */
.detail-contents{
    position: sticky;
    top: 0;
    background-color: white;
}

/* 상품 설명 */
.exp-img{
    width: -webkit-fill-available;
}

/* 경계선 css  */
.boundary-line{
    border-top: 10px solid #F6F6F6;
}

/* /////////////////////////////////////////////////////////////////////////////////////// */
/* 리뷰, 배송 공통 */
.header-title{
    height: 80px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #B7B7B7;
}
.header-title p, .delievery-title p, .refund-title p{
    font-size: 25px;
    font-weight: bold;
}

/* 리뷰 */
.review-header{
    justify-content: space-between;
}

/* 리뷰 select option */
#selectcate{
    border: 1px solid #B7B7B7;
    border-radius: 5px;
    color: #B7B7B7;
    font-size: 15px;
    width: 115px;
    height: 30px;
    text-align: center;;
}
.review-header-right{
    display: inline-flex;
}
.reviewWrite{
    font-size: 14px;
    color: #A78A6C;
    margin-left: 20px;
    line-height: 78px;
}
.reviewWrite:hover{
    text-decoration: underline;
}

.align-div{
    text-align: right;

}



/* 리뷰 내용 */
.one-line-review{
    display: flex;
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #B7B7B7;
}
.one-line-review>span{
    display: block;
    
    color: #323232;
    font-size: 13px;
    font-weight: bold;
}

.one-line-review>span:nth-of-type(1){ width: 60%;}
.one-line-review>span:nth-of-type(2){ 
    width: 15%;
    text-align: center;
}
.one-line-review>span:nth-of-type(3){ width: 15%;
    text-align: center;
}


/* 별점 */
.star-ratings {
    position: relative;
    width: 10%;
}

 .star-ratings-fill {
    font-size: 11px;
    text-align: center;
}  


.gold{ color: gold;}
.gray{ color: rgb(187, 187, 187);}


.star-ratings-base {
    z-index: 0;
    padding: 0;
}


/* 페이지네이션 */
.pagination-area{
    height: 100px;
}
.pagination{
    text-align: center;
    color:#787878;
    font-weight: bold;
    line-height: 98px;
}

.pagination > li{
    display: inline-block;
    margin:0 10px 0 10px;
    text-align: center;
    line-height: 24px;
}


/* 페이지네이션 선택 효과 css */
.page-effect{
    width: 25px;
    height: 25px;
    border-radius: 20px; 
    background-color: #B9845A; 
    color: white;
}


/* 배송/교환/환불 */
.contents-delievery{
    margin-bottom: 80px;
}
.delievery-area{
    width: 100%;
    display: inline-flex;
    border-bottom: 1px solid #B7B7B7;
}
.delievery-box {
    height: 220px;
}
.refund-box{
    height: 330px;
    margin-top: 5px;
}

/* 영역 구분 선 */
.area-line{
    width: 1px;
    height: 200px;
    border-right: 1px solid #B7B7B7;
    margin-top: 10px;
}

.refund-line{
    height: 310px;
}

.delievery-title, .refund-title{
    width: 20%;
    margin-top: auto;
    margin-bottom: auto;
}

.delievery-title p, .refund-title p{
    text-align: center;
}
.delievery-content, .refund-content {
    width: 80%;
    margin: 10px 0 10px 10px;
}

.delievery-content pre, .refund-content pre{
    font-size: 13px;
}




/* 임시 */
footer{
    display: flex;
}
.heart-btn{
	float: right;
	width:49px;
	}
.contentss{
  width: 40px;
  height: 40px;
   border: 2px solid #eae2e1;
   border-radius: 50%;
   cursor: pointer;
    
 }
 .contentss.heart-active{
   border-color: #f9b9c4;
   background: #fbd0d8;
   position:relative; z-index:1;
 }
 .heart{

   background: url("../images/store/heart.png") no-repeat;
   background-position: left;
   background-size: 2900%;
   height: 71px;
   width: 73px;
     position:relative; z-index:-1;
   transform: translate(-22%,-19%);
 }

 
 .text.heart-active{
   color: #000;
 }
 .heart.heart-active{
   animation: animate .8s steps(28) 1;
   background-position: right;
 position:relative; z-index:-1;
   
    
 }
 @keyframes animate {
   0%{
     background-position: left;
   }
   100%{
     background-position: right;
   }
 }

 .option1,.option2,.option3{
     display:none;
 }
 .n-option1,.n-option2,.n-option3{
     display:block;
 }
.review-title{
    cursor: pointer;
}
.review-content{
    cursor:pointer;
    height: 400px;
}