
.category-set{
  width:1200px;
  margin:auto;
}
.main-wrapper{
  
  margin:auto;
}
.main-banner{
  
  background-image: url("../images/pdt-banner.png");
  background-repeat: no-repeat;
  height: 350px;
  background-size :cover;
  margin-bottom: 40px; 
}
.main-category{
  
 
  text-align: right;
  margin:0 10px 40px 0;
}
.main-category>li{
  display:inline;
  
  
}
.main-content{
  margin:auto;
  width:1200px;
}
.pdt-label{
  width:78px;
  height:25px;
  border-radius: 5px;
  text-align: center;
  color:white;
  margin-top:5px;
  font-weight: bold;
  line-height: 1.5;
  
}

.label-new,.label-sale{
  background-color:#F95858;
}
.label-best{
  background-color:#264D59;
}
.label-sold{
  background-color:#323232;
  
}


.pdt-img{
  cursor:pointer;
  width:280px;
  height:280px;
   background-image: url("../images/dog.jpg");
  background-repeat: no-repeat;
  background-size :cover;
  border-radius: 20px;
}

.pdt-box{

  margin-right: 15px;
  width:280px;
  display: inline-block;
  margin-bottom:100px;
}
.pdt-box:nth-child(4n){
  width:280px;
  display: inline-block;
  margin-bottom:100px;
}
.pagination{
  text-align: center;
  color:#787878;
  font-weight: bold;
  margin-bottom: 70px;
}

.pagination>li{
  display: inline-block;
  margin:auto;
  text-align: center;
}

.heart-btn{
	float: right;
	width:49px;
	margin-top:-32px;
}
.content{
  width: 40px;
  height: 40px;
   border: 2px solid #eae2e1;
   border-radius: 50%;
   cursor: pointer;
    
 }
 .content.heart-active{
   border-color: #f9b9c4;
   background: #fbd0d8;
   position:relative; z-index:1;
 }
 .heart{

   background: url("../images/store/heart.png") no-repeat;
   background-position: left;
   background-size: 2900%;
   height: 71px;
   width: 73px;
     position:relative; z-index:-1;
   transform: translate(-22%,-19%);
 }

 
 .text.heart-active{
   color: #000;
 }
 .heart.heart-active{
   animation: animate .8s steps(28) 1;
   background-position: right;
 position:relative; z-index:-1;
   
    
 }
 @keyframes animate {
   0%{
     background-position: left;
   }
   100%{
     background-position: right;
   }
 }
  .bingel{
   transition-duration: 1s;
  background-color: green;
  animation: bing 0.25s linear infinite;
  border: 5px solid transparent;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
  
  

 }


 @keyframes bing {
  0%{
    transform: rotateY(0deg);

  }
  100%{
    transform: rotateY(360deg);
    
  }
}
.emphasized {

  position:fixed;
  
  top:150px; left:30px;
  
  box-shadow : rgba(255, 255, 255, 0.7) 0 0 0 1000000px, rgba(255, 255, 255, 0.7) 2px 2px 3px 3px;
  
  z-index : 100;
  
  }
  
  
select {
   -webkit-appearance:none;
   -moz-appearance:none;
   -ms-appearance:none;
   appearance:none;
   outline:0;
   box-shadow:none;
   border:0!important;
   
   background-image: none;
   flex: 1;
   padding: 0 .5em;
   
   cursor:pointer;
   font-size: 1em;
   font-family: 'Open Sans', sans-serif;
   font-weight:bold;
   
}
select::-ms-expand {
   display: none;
   
}
option{
	
	font-weight:bold;
}
.select {
   position: relative;
   display: flex;
   width: 10em;
   height: 2.5em;
   line-height: 2.5;
 
   overflow: hidden;
   border-radius: .25em;
   border: 2px solid #d2d2d2
}
.select::after {
   content: '\25BC';
   position: absolute;
   top: 0;
   right: 0;
   padding: 0 1em;
  
   cursor:pointer;
   pointer-events:none;
   transition:.25s all ease;
   
}
.select:hover::after {
   color: #00f298;
}