:root{
    --text-color : #323232;
    --accent-color : #564334;
    --gray-color : #f7f7f7;
}

html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Noto Sans Korean';
    font-weight: 500;
}

main{
    width: 70%;
    margin: auto;
    display: grid;
    align-items: center;
    scroll-behavior: smooth;
}

/* 메인 상단 카테고리 */
.main-nav{
    height: 60px;
    display: flex;
    align-items: center; 
    
    font-size: 13px;
}

.main-nav a{
   vertical-align: middle;
}

.product-area{
    width: 100%;
}

/* 좌측 썸네일 */
.product-thumbnail{
    width: 47%;
    margin: 0;
    float: left;
}

.main-thumbnail{
    width: 100%;
    height: 550px;
    border-radius: 5px;
    margin: 0 0 15px 0;
}

.product-thumbnail div{    
    display: flex;
    width: 100%; 
}
.product-thumbnail div img{
    width: 22%;
    height: 140px;
    border-radius: 5px;
    
}
.img-margin{
    margin-right: auto;

}





/* 우측 세부내용 */
.product_detail{  
    width: 50%;
    float: left;
    margin-left: 26px;
}

/* 상품명, 가격 영역*/
.category_product{
    height: 140px;
}
/* 상품명 */
.category_product span:first-child{
    font-size: 30px;
    font-weight: bold;
    display: block;
    padding: 25px 0 25px 0;
}
/* 가격 */
.price{
    font-size: 20px;
    font-weight: bold;
}

/* 선  */
.bottom-line{
    border-bottom: 1px solid #B7B7B7;
}

/* 배송안내 */
.delivery-detail{
    height: 50px;
}
.delivery-detail span{
    display: inline-block;
    padding: 15px 0 15px 0;
    font-weight: bold;
}
.delivery-detail span:last-child{
    color: #D3AF8A;
}


/* 구독 옵션, 빵, 맛 종류 영역 */
.sub-detail{
    height: 80px;
    display: inline-flex; 
}

.sub-title, .btn-area{
    margin: auto;
}

.sub-title{
    width: 102px;
    padding-right: 24px;
}

.sub-title > span{   
    line-height: 40px;
    font-weight: bold;
}
/* 카테고리의 * (필요한 경우만 사용) */
.sub-title > span:last-child{
    color: #D3AF8A;
}

/* 구독, 빵, 맛 선택 button */
.btn{
    width: 90px;
    height: 35px;
    font-weight: bold;
    color: var(--accent-color);
    margin-right: 20px;
    
    display: inline;
    border: 0;
    border-radius: 5px;

    background-color: white;
    cursor: pointer;
}
.btn > span{
    font-size: 15px;
}
.btn:hover, .btn:active, .btn:focus {
    background-color: #A78A6C;
    color: white; 
    transition: 0.3s;
}

/* 구매상품 확인 div */
.buy-total{
    height: 90px;
    background-color: var(--gray-color);
    border-radius: 5px;
}

.total-area, .buy-count{
    padding: 10px;
}

.buy-total span{
    font-size: 15px;
}

.buy-count{
    display: flex;
    align-items: center; 
    font-size: 15px;
}
.buy-count > span{
    margin: 0 10px 0 10px;
}

/* 총 구매 금액 */
.total-price{
    width: 100%;
    display: inline-block;
    text-align: right;
    padding-top: 35px;
    padding-bottom: 35px;
    
}
.total-price p{
    font-size: 15px;
    line-height: 45px;
    margin-right: 10px;
    
    display: inline;
}
.total-price span{
    font-size: 25px;
    font-weight: bold;
}



/* 구독신청 버튼 */
.submit-sub{
    width: 100%;
}

.submit-btn{
    width: 100%;
    height: 70px;
    font-weight: bold;
    color: white;
    margin-right: 20px;

    display: inline;
    border: 0;
    border-radius: 5px;

    background-color: #A78A6C;;
    cursor: pointer;
}

.submit-btn > span{
    font-size: 20px;
}
.submit-btn:hover, .submit-btn:active, .submit-btn:focus {
    background-color: #ceb498;
    transition: 0.3s;
}


/* 내용들 */
.contents-top-line{
    margin-top: 90px;
    border-bottom: 1px solid #B7B7B7;
}


.detail-contents{
    width: 100%;
    z-index: 2;
}
.detail-contents ul li{
    width: 33%;
    height: 60px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    line-height: 59px;
}

.contents-bottom-line{
    border-bottom: 3px solid #A78A6C;
}

/* 상품설명/ 리뷰 / 배송환불 */
.detail-contents{
    position: sticky;
    top: 0;
    background-color: white;
}

/* 상품 설명 */
.exp-img{
    width: -webkit-fill-available;
}

/* 경계선 css  */
.boundary-line{
    border-top: 10px solid #F6F6F6;
}

/* /////////////////////////////////////////////////////////////////////////////////////// */
/* 리뷰, 배송 공통 */
.header-title{
    height: 80px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #B7B7B7;
}
.header-title p, .delievery-title p, .refund-title p{
    font-size: 25px;
    font-weight: bold;
}

/* 리뷰 */
.review-header{
    justify-content: space-between;
}

.review-header-right{
    display: inline-flex;
}
.reviewWrite{
    font-size: 13px;
    color: #A78A6C;
    margin-left: 10px;
    line-height: 23px;
}
.reviewWrite:hover{
    text-decoration: underline;
}

.align-div{
    text-align: right;

}

#align-div>span{
    display: inline-block;
    width: 120px;
    text-align: center;
}
#align-div>button{
    border: none;
    background: none;
    font-size: 15px;
}
#align-div>button:hover{
    cursor: pointer;
}


/* 리뷰 내용 */
.one-line-review{
    display: flex;
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #B7B7B7;
}
.one-line-review>span{
    display: block;
    
    color: #323232;
    font-size: 13px;
    font-weight: bold;
}

.one-line-review>span:nth-of-type(1){ width: 60%;}
.one-line-review>span:nth-of-type(2){ 
    width: 15%;
    text-align: center;
}
.one-line-review>span:nth-of-type(3){ width: 15%;
    text-align: center;
}


/* 별점 */
.star-ratings {
    align-items: center;
    color: #aaa9a9; 
    position: relative;
    unicode-bidi: bidi-override;
    width: 10%;
    -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
}

.star-ratings-fill {
    padding: 0;
    position: absolute;
    z-index: 1;
    display: flex;
    top: 0;
    left: 0;
    overflow: hidden;
    -webkit-text-fill-color: gold;
}

.star-ratings-base {
    z-index: 0;
    padding: 0;
}


/* 페이지네이션 */
.pagination-area{
    height: 100px;
}
.pagination{
    text-align: center;
    color:#787878;
    font-weight: bold;
    line-height: 98px;
}

.pagination > li{
    display: inline-block;
    margin:0 10px 0 10px;
    text-align: center;
    line-height: 24px;
}


/* 페이지네이션 선택 효과 css */
.page-effect{
    width: 25px;
    height: 25px;
    border-radius: 20px; 
    background-color: #B9845A; 
    color: white;
}


/* 배송/교환/환불 */
.contents-delievery{
    margin-bottom: 80px;
}
.delievery-area{
    width: 100%;
    display: inline-flex;
    border-bottom: 1px solid #B7B7B7;
}
.delievery-box {
    height: 220px;
}
.refund-box{
    height: 330px;
    margin-top: 5px;
}

/* 영역 구분 선 */
.area-line{
    width: 1px;
    height: 200px;
    border-right: 1px solid #B7B7B7;
    margin-top: 10px;
}

.refund-line{
    height: 310px;
}

.delievery-title, .refund-title{
    width: 20%;
    margin-top: auto;
    margin-bottom: auto;
}

.delievery-title p, .refund-title p{
    text-align: center;
}
.delievery-content, .refund-content {
    width: 80%;
    margin: 10px 0 10px 10px;
}

.delievery-content pre, .refund-content pre{
    font-size: 13px;
}




/* 임시 */
footer{
    display: flex;
}