body{
    width: 400px;
    height: 500px;
    margin: 0;
    padding: 0;
}

#chat_body{
    background-color: rgba(167, 138, 108, 0.3); 
    width: 400px;
    height: 500px;
    border-radius: 10px;
    border: 2px solid rgba(167, 138, 108, 1);
}

#chat_text{
    background-color: white;
    width: 380px;
    height:300px;
    margin: 10px;
    border-radius: 3px;
    border:  1px solid rgba(167, 138, 108, 1);
    overflow: scroll;

    display:flex;

    flex-direction: column-reverse;

    overflow-y:auto;

}

#chat_text::-webkit-scrollbar{
    display:none; 
}

#chat_text>ul{
    list-style: none;
    padding: 0;
}
#chatting_input{
    display: inline-block;
    width: 400px;
}

#chatting_input>button{
    float: right;
}
#chatting_textarea{
    border: none;
    resize: none;
    margin-left: 10px;
    border-radius: 3px;
    border:  1px solid rgba(167, 138, 108, 1);
}
#chat_title{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-weight: bold;
    color: darkred;
}
.ct_btn{
    width: 70px;
}

#send{
    height: 80px;
    margin-bottom: 4px;
    border-radius: 3px;
    border:  1px solid rgba(167, 138, 108, 1);
}

#chat_out{
    height: 40px;
    border-radius: 3px;
    border:  1px solid rgba(167, 138, 108, 1);
}

#chat_div{
    float: right;
    margin-right: 10px;
}


.chat{
    width: 40%;
    border: 1px solid rgba(167, 138, 108, 1);
    border-radius: 5px;
    background-color: rgba(167, 138, 108, 0.3);
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    padding-right: 30px;
    padding-left: 30px;
}

.myChat{
    display: flex;
    align-content: center;
    justify-content: flex-end;
    text-align: right;
    margin-top: 20px;
}

.display-chatting{
    margin: 20px 20px;
}
.display-chatting>li{
    margin-top: 10px;
}
