<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adminMapper">

	<resultMap type="edu.kh.jvj.admin.model.vo.Admin" id="admin_rm">
		<id property="memberNo" column="MEMBER_NO" />
		<result property="adminId" column="MEMBER_EMAIL" />
		<result property="adminPw" column="MEMBER_PW" />
		<result property="nickName" column="MEMBER_NICKNAME" />
		<result property="adminName" column="MEMBER_NAME" />
		<result property="matchYn" column="MATCH_YN" />
	</resultMap>
	<resultMap type="edu.kh.jvj.notice.model.vo.Notice" id="notice_rm">
		<id property="noticeNo" column="NOTICE_NO" />
		<result property="noticeTitle" column="NOTICE_TITLE" />
		<result property="content" column="NOTICE_CONTENT" />
		<result property="createDt" column="NOTICE_CREATE_DT" />
		<result property="noticeCd" column="NOTICE_CD" />
		<result property="noticeCateName" column="NOTICE_TYPE_NM" />
	</resultMap>
	<resultMap type="edu.kh.jvj.admin.model.vo.SearchedMember" id="member_rm">
		<id property="memberNo" column="MEMBER_NO" />
		<result property="memberEmail" column="MEMBER_EMAIL" />
		<result property="memberNickName" column="MEMBER_NICKNAME" />
		<result property="memberName" column="MEMBER_NAME" />
		<result property="enrollDt" column="ENROLL_DT" />
		<result property="statusCode" column="STATUS_CD" />
	</resultMap>
	
	<!-- 상품 공통 인서트 -->
	<insert id="insertProductCommon" >
  		<selectKey order="BEFORE" resultType="_int" keyProperty="productNo">
 			SELECT SEQ_PRODUCT_NO.NEXTVAL FROM DUAL
  		</selectKey>
		INSERT INTO PRODUCT VALUES(
		#{productNo} , #{title} , #{price} , DEFAULT , #{writecate}
		)
	</insert>
	<!-- 클래스 detail 인서트 -->
	<insert id="insertClassProduct" >
		INSERT INTO CLASS_DETAIL VALUES(
			#{productNo} , #{people} , #{editordata} , #{classdate} , 1 ,#{place} , #{startEndTime}
		)
	</insert>
	<insert id="insertProductImg">
		INSERT INTO PRODUCT_IMG
		SELECT SEQ_PRODUCT_IMG_NO.NEXTVAL, A.* FROM 
		<foreach collection="list" item="img" 
			open="(" close=") A"  separator=" UNION ALL ">
		SELECT #{img.imgPath} PRODUCT_IMG_PATH , #{img.imgName} PRODUCT_IMG_NAME,
		 #{img.imgLevel} PRODUCT_IMG_LEVEL
		, #{img.productNo} PRODUCT_NO 
		FROM DUAL
		</foreach>		
	</insert>
	
	<!-- 공지사항 인서트 -->
	<insert id="insertNotice">
		INSERT INTO NOTICE_BOARD VALUES(
			SEQ_NOTICE_NO.NEXTVAL , #{title}, #{editordata}, DEFAULT , #{loginMember} , #{noticecate}
		)
	</insert>
	<!-- 일반상품 인서트 -->
	<insert id="insertStoreProduct">
		INSERT INTO STORE_DETAIL VALUES(
			#{productNo} ,  #{editordata}, #{stock} , #{detailcontents},#{storecate}
		)
	</insert>
	<!-- 할인정보 인서트 -->
		<insert id="insertStoreDiscount">
		INSERT INTO DISCOUNT VALUES(
			#{productNo} , #{discountStart}, #{discountEnd}, #{discountPer}
		)
	</insert>
	<!-- 관리자 로그인 확인 -->
	<select id="findMatchAdmin" resultMap="admin_rm">
		SELECT MATCHRESULT.* , MR.MEMBER_NICKNAME, MR.MEMBER_NAME
		FROM(
		SELECT MEMBER_NO, COUNT(MEMBER_NO) MATCH_YN FROM MEMBER
		WHERE MEMBER_EMAIL = #{adminId}
		AND MEMBER_PW = #{adminPw}
		AND STATUS_CD = 1
		AND GRADE_CD = 101
		GROUP BY MEMBER_NO
		) MATCHRESULT
		JOIN MEMBER MR ON (MATCHRESULT.MEMBER_NO= MR.MEMBER_NO)
	</select>
	
	
	<!-- 공지사항 카운트 -->
	<select id="countNotice"  resultType="_int">
		SELECT COUNT(*) FROM NOTICE_BOARD
	</select>
	
	<!-- 공지사항 리스트 -->
	<select id="noticeList" resultMap="notice_rm">
		SELECT NOTICE_NO , NOTICE_TITLE, NOTICE_CONTENT, TO_CHAR(NOTICE_CREATE_DT , 'YYYY-MM-DD') NOTICE_CREATE_DT, NOTICE_CD
		 , NOTICE_TYPE_NM
		FROM NOTICE_BOARD
		JOIN NOTICE_CATEGORY USING (NOTICE_CD)
		<if test="cate != 0">
			WHERE  NOTICE_CD = #{cate}
		  </if>
		ORDER BY NOTICE_CREATE_DT DESC
	</select>
	<!-- 공지사항 상세 -->
	<select id="oneNotice" resultMap="notice_rm">
		SELECT NOTICE_NO , NOTICE_TITLE, NOTICE_CONTENT, TO_CHAR(NOTICE_CREATE_DT , 'YYYY-MM-DD') NOTICE_CREATE_DT, NOTICE_CD
		 , NOTICE_TYPE_NM
		FROM NOTICE_BOARD
		JOIN NOTICE_CATEGORY USING (NOTICE_CD)
		WHERE NOTICE_NO = #{noticeNo}
	</select>
	
	<select id="searchMember" resultMap="member_rm">
		SELECT 
		MEMBER_NO, MEMBER_EMAIL, MEMBER_NICKNAME, MEMBER_NAME ,
		TO_CHAR(ENROLL_DT, 'YYYY-MM-DD') ENROLL_DT ,STATUS_CD FROM MEMBER 
		WHERE GRADE_CD = 100
		<if test="searchBy == 'searchById'">
			AND MEMBER_EMAIL LIKE '%'||#{data}||'%'
		</if>
		<if test="searchBy == 'searchByName'">
			AND MEMBER_NAME LIKE '%'||#{data}||'%'
		</if>
		<if test="searchBy == 'searchByNickName'">
			AND MEMBER_NICKNAME LIKE '%'||#{data}||'%'
		</if>
	</select>
	
	<insert id="insertOptionP">
		INSERT INTO PRODUCT VALUES(
		SEQ_PRODUCT_NO.NEXTVAL , #{title} , #{price} , DEFAULT , #{writecate}
		)
	</insert>
</mapper>
