<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adminMapper">

	<resultMap type="edu.kh.jvj.admin.model.vo.Admin" id="admin_rm">
		<id property="memberNo" column="MEMBER_NO" />
		<result property="adminId" column="MEMBER_EMAIL" />
		<result property="adminPw" column="MEMBER_PW" />
		<result property="nickName" column="MEMBER_NICKNAME" />
		<result property="adminName" column="MEMBER_NAME" />
		<result property="matchYn" column="MATCH_YN" />
	</resultMap>
	<resultMap type="edu.kh.jvj.notice.model.vo.Notice" id="notice_rm">
		<id property="noticeNo" column="NOTICE_NO" />
		<result property="noticeTitle" column="NOTICE_TITLE" />
		<result property="content" column="NOTICE_CONTENT" />
		<result property="createDt" column="NOTICE_CREATE_DT" />
		<result property="noticeCd" column="NOTICE_CD" />
		<result property="noticeCateName" column="NOTICE_TYPE_NM" />
	</resultMap>
	<resultMap type="edu.kh.jvj.admin.model.vo.SearchedMember" id="member_rm">
		<id property="memberNo" column="MEMBER_NO" />
		<result property="memberEmail" column="MEMBER_EMAIL" />
		<result property="memberNickName" column="MEMBER_NICKNAME" />
		<result property="memberName" column="MEMBER_NAME" />
		<result property="enrollDt" column="ENROLL_DT" />
		<result property="statusCode" column="STATUS_CD" />
	</resultMap>
	<resultMap type="edu.kh.jvj.admin.model.vo.SimpleProduct" id="product_rm">
		<id property="productNo" column="PRODUCT_NO" />
		<result property="title" column="PRODUCT_NM" />
		<result property="writecate" column="PRODUCT_CD" />
		<result property="cateName" column="PRODUCT_CATE" />
		<result property="createDate" column="CREATE_DT" />
		<result property="price" column="PRODUCT_PRICE" />
	</resultMap>
		<resultMap type="edu.kh.jvj.admin.model.vo.AdminStore" id="store_rm">
		<id property="storeNo" column="PRODUCT_NO" />
		<result property="storeName" column="PRODUCT_NM" />
		<result property="price" column="PRODUCT_PRICE" />
		<result property="memo" column="STORE_MEMO" />
		<result property="storeExp" column="STORE_EXP" />
		<result property="stock" column="STORE_AMOUNT" />
		<result property="storecate" column="STORE_TYPE" />
		<result property="discountStart" column="DISCOUNT_START_DT" />
		<result property="discountEnd" column="DISCOUNT_END_DT" />
		<result property="discountPer" column="DISCOUNT_PER" />
		<result property="createDate" column="CREATE_DT" />
		<collection property="classImgList" column="PRODUCT_NO"
		javaType="java.util.ArrayList" ofType ="edu.kh.jvj.onedayclass.model.vo.ProductImage" 
		 select="selectProductImageList" />
	</resultMap>
		<resultMap type="edu.kh.jvj.onedayclass.model.vo.ProductImage" id="productImg_rm">
		<id property="productImgNo" column="PRODUCT_IMG_NO" />
		<result property="productImgPath" column="PRODUCT_IMG_PATH" />
		<result property="productImgName" column="PRODUCT_IMG_NAME" />
		<result property="productImgLevel" column="PRODUCT_IMG_LEVEL" />
		<result property="productNo" column="PRODUCT_NO" />
	</resultMap>
	<select id="selectProductImageList" resultMap="productImg_rm">
		SELECT * FROM PRODUCT_IMG WHERE PRODUCT_NO = #{productNo} 
		ORDER BY PRODUCT_IMG_LEVEL 
	</select>
	<!-- 상품 공통 인서트 -->
	<insert id="insertProductCommon" >
  		<selectKey order="BEFORE" resultType="_int" keyProperty="productNo">
 			SELECT SEQ_PRODUCT_NO.NEXTVAL FROM DUAL
  		</selectKey>
		INSERT INTO PRODUCT VALUES(
		#{productNo} , #{title} , #{price} , DEFAULT , #{writecate}
		)
	</insert>
	<!-- 클래스 detail 인서트 -->
	<insert id="insertClassProduct" >
		INSERT INTO CLASS_DETAIL VALUES(
			#{productNo} , #{people} , #{editordata} , #{classdate} , 1 ,#{place} , #{startEndTime} , DEFAULT
		)
	</insert>
	<insert id="insertProductImg">
		INSERT INTO PRODUCT_IMG
		SELECT SEQ_PRODUCT_IMG_NO.NEXTVAL, A.* FROM 
		<foreach collection="list" item="img" 
			open="(" close=") A"  separator=" UNION ALL ">
		SELECT #{img.imgPath} PRODUCT_IMG_PATH , #{img.imgName} PRODUCT_IMG_NAME,
		 #{img.imgLevel} PRODUCT_IMG_LEVEL
		, #{img.productNo} PRODUCT_NO 
		FROM DUAL
		</foreach>		
	</insert>
	
	<!-- 공지사항 인서트 -->
	<insert id="insertNotice">
		INSERT INTO NOTICE_BOARD VALUES(
			SEQ_NOTICE_NO.NEXTVAL , #{title}, #{editordata}, DEFAULT , #{loginMember} , #{noticecate}
		)
	</insert>
	<!-- 공지사항 업데이트 -->
	<update id="updateNotice">
			UPDATE NOTICE_BOARD SET
			NOTICE_TITLE = #{title},
			NOTICE_CONTENT =#{editordata},
			NOTICE_CD =#{noticecate}
			WHERE NOTICE_NO = #{noticeNo}
	</update>
	<!-- 일반상품 인서트 -->
	<insert id="insertStoreProduct">
		INSERT INTO STORE_DETAIL VALUES(
			#{productNo} ,  #{stock} , #{detailcontents},#{storecate} ,#{editordata}
		)
	</insert>
	<!-- 할인정보 인서트 -->
		<insert id="insertStoreDiscount">
		INSERT INTO DISCOUNT VALUES(
			#{productNo} , #{discountStart}, #{discountEnd}, #{discountPer}
		)
	</insert>
	<!-- 관리자 로그인 확인 -->
	<select id="findMatchAdmin" resultMap="admin_rm">
		SELECT MATCHRESULT.* , MR.MEMBER_NICKNAME, MR.MEMBER_NAME
		FROM(
		SELECT MEMBER_NO, COUNT(MEMBER_NO) MATCH_YN FROM MEMBER
		WHERE MEMBER_EMAIL = #{adminId}
		AND MEMBER_PW = #{adminPw}
		AND STATUS_CD = 1
		AND GRADE_CD = 101
		GROUP BY MEMBER_NO
		) MATCHRESULT
		JOIN MEMBER MR ON (MATCHRESULT.MEMBER_NO= MR.MEMBER_NO)
	</select>
	
	
	<!-- 공지사항 카운트 -->
	<select id="countNotice"  resultType="_int">
		SELECT COUNT(*) FROM NOTICE_BOARD
		WHERE NOTICE_TITLE LIKE '%'||#{search}||'%' 
		<if test="cate != 0">
		AND NOTICE_CD = #{cate}
		</if>
	</select>

	<!-- 공지사항 search 리스트 -->
	<select id="noticeSearchList" parameterType = "map" resultMap="notice_rm">
		SELECT NOTICE_NO , NOTICE_TITLE, NOTICE_CONTENT, TO_CHAR(NOTICE_CREATE_DT , 'YYYY-MM-DD') NOTICE_CREATE_DT, NOTICE_CD
		 , NOTICE_TYPE_NM
		FROM NOTICE_BOARD
		JOIN NOTICE_CATEGORY USING (NOTICE_CD)
		WHERE NOTICE_TITLE LIKE '%'||#{search}||'%' 
		<if test="cate != 0">
			AND  NOTICE_CD = #{cate} 
		  </if>
		ORDER BY NOTICE_CREATE_DT DESC
	</select>
	<!-- 공지사항 상세 -->
	<select id="oneNotice" resultMap="notice_rm">
		SELECT NOTICE_NO , NOTICE_TITLE, NOTICE_CONTENT, TO_CHAR(NOTICE_CREATE_DT , 'YYYY-MM-DD') NOTICE_CREATE_DT, NOTICE_CD
		 , NOTICE_TYPE_NM
		FROM NOTICE_BOARD
		JOIN NOTICE_CATEGORY USING (NOTICE_CD)
		WHERE NOTICE_NO = #{noticeNo}
	</select>
	<!-- 회원 검색 -->
	<select id="searchMember" resultMap="member_rm">
		SELECT 
		MEMBER_NO, MEMBER_EMAIL, MEMBER_NICKNAME, MEMBER_NAME ,
		TO_CHAR(ENROLL_DT, 'YYYY-MM-DD') ENROLL_DT ,STATUS_CD FROM MEMBER 
		WHERE GRADE_CD = 100
		<if test="cate == 1">
			AND MEMBER_EMAIL LIKE '%'||#{search}||'%'
		</if>
		<if test="cate == 2">
			AND MEMBER_NAME LIKE '%'||#{search}||'%'
		</if>
		<if test="cate == 3">
			AND MEMBER_NICKNAME LIKE '%'||#{search}||'%'
		</if>
	</select>
	<!-- 옵션상품 추가 -->
	<insert id="insertOptionP">
		INSERT INTO PRODUCT VALUES(
		SEQ_PRODUCT_NO.NEXTVAL , #{title} , #{price} , DEFAULT , #{writecate}
		)
	</insert>
	<!-- 검색 결과 회원 수 조회 -->
	<select id="countMember" resultType="_int">
		SELECT COUNT(*) FROM MEMBER
		WHERE GRADE_CD = 100
		<if test="cate == 1">
			AND MEMBER_EMAIL LIKE '%'||#{search}||'%'
		</if>
		<if test="cate == 2">
			AND MEMBER_NAME LIKE '%'||#{search}||'%'
		</if>
		<if test="cate == 3">
			AND MEMBER_NICKNAME LIKE '%'||#{search}||'%'
		</if>
	</select>
	<!-- 검색 결과 상품 수 조회 -->
	<select id="countProduct" resultType="_int">
		SELECT COUNT(*) FROM PRODUCT
		WHERE PRODUCT_NM LIKE '%'||#{search}||'%'
		<if test="cate != 0">
			AND PRODUCT_CD =#{cate}
		</if>
	</select>
	<select id="productselect" resultMap="product_rm">
		SELECT PRODUCT_NO, PRODUCT_NM ,PRODUCT_PRICE, PRODUCT_CD, PRODUCT_CATE,
		TO_CHAR(CREATE_DT, 'YYYY-MM-DD') CREATE_DT
		FROM PRODUCT
		JOIN PRODUCT_CATEGORY USING(PRODUCT_CD) 
		WHERE PRODUCT_NM LIKE '%'||#{search}||'%'
		<if test="cate != 0">
			AND PRODUCT_CD =#{cate}
		</if>
		ORDER BY CREATE_DT DESC
	</select>
	<select id="getStoreInfo" resultMap="store_rm">
		SELECT 
		PR.PRODUCT_NM, PR.PRODUCT_PRICE,
		TO_CHAR(PR.CREATE_DT , 'YYYY-MM-DD') CREATE_DT ,
		SD.* , TO_CHAR(DIS.DISCOUNT_START_DT , 'YYYY-MM-DD') DISCOUNT_START_DT,
		TO_CHAR(DIS.DISCOUNT_END_DT , 'YYYY-MM-DD') DISCOUNT_END_DT, DIS.DISCOUNT_PER
		FROM PRODUCT PR
		JOIN STORE_DETAIL SD ON (PR.PRODUCT_NO = SD.PRODUCT_NO)
		LEFT JOIN DISCOUNT DIS ON(PR.PRODUCT_NO = DIS.PRODUCT_NO)
		WHERE PR.PRODUCT_NO = #{productNo}
	</select>
	<update id="updateProductCommon">
		UPDATE PRODUCT SET
		PRODUCT_NM = #{title} , 
		PRODUCT_PRICE= #{price} 
		WHERE PRODUCT_NO = #{productNo}
	</update>
	<update id="updateStoreProduct">
		UPDATE STORE_DETAIL SET
		STORE_EXP = #{editordata} ,
		STORE_AMOUNT = #{stock} ,
		STORE_MEMO = #{detailcontents} ,
		STORE_TYPE = #{storecate}
		WHERE PRODUCT_NO = #{productNo}
	</update>
	<update id="updateStoreDiscount">
		UPDATE DISCOUNT SET
		DISCOUNT_START_DT = #{discountStart},
		DISCOUNT_END_DT = #{discountEnd}, 
		DISCOUNT_PER = #{discountPer}
		WHERE PRODUCT_NO = #{productNo}
	</update>
	<delete id="deleteImgs" parameterType="map">
		DELETE FROM PRODUCT_IMG 
		WHERE PRODUCT_NO = #{productNo}
		AND PRODUCT_IMG_LEVEL IN (${deleteLevels})	
	</delete>
	<update id="updateClassProduct">
		UPDATE CLASS_DETAIL SET 
		CLASS_MAX_PPL = #{people},
		CLASS_EXP = #{editordata},
		CLASS_DT = #{classdate},
		PLACE_CODE= #{place},
		CLASS_TIME = #{startEndTime}
		WHERE PRODUCT_NO = #{productNo}
	</update>
	<select id="checkIsDiscount" resultType="_int">
		SELECT COUNT(*) FROM DISCOUNT
		WHERE PRODUCT_NO = #{productNo}
	</select>
	<delete id="deleteStoreDiscount">
		DELETE FROM DISCOUNT
		WHERE PRODUCT_NO = #{productNo}
	</delete>
</mapper>
