<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cartMapper">
	<resultMap type="Cart" id="cart_rm">
		<id property="cartNo" column="CART_NO" />
		<result property="addq" column="ADD_Q" />
		<result property="productNo" column="PRODUCT_NO" />
		<result property="memberNo" column="MEMBER_NO" />
		<result property="opt" column="ADVANTAGE_NO" />
		<result property="optq" column="ADVANTAGE_Q" />
		<result property="price" column="PRODUCT_PRICE" />
		<result property="productName" column="PRODUCT_NM" />
	</resultMap>

	<!-- 장바구니에 상품 하나 추가 -->
	<insert id="addCart">
		INSERT INTO CART
		VALUES(SEQ_CART_NO.NEXTVAL,#{addq},#{productNo},#{memberNo})
		<selectKey order="AFTER" resultType="_int"
			keyProperty="cartNo">
			SELECT SEQ_CART_NO.CURRVAL FROM DUAL
		</selectKey>
	</insert>
	<insert id="addSub">
		INSERT INTO ADVANTAGE
		VALUES(#{cartNo},#{opt},#{optq})
	</insert>
	
</mapper>
