<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cartMapper">
	<resultMap type="Cart" id="cart_rm">
		<id property="cartNo" column="CART_NO" />
		<result property="addq" column="ADD_Q" />
		<result property="productNo" column="PRODUCT_NO" />
		<result property="memberNo" column="MEMBER_NO" />
		<result property="price" column="PRODUCT_PRICE" />
		<result property="productName" column="PRODUCT_NM" />
		<result property="parentNo" column="CART_NO2" />
		<result property="imgPath" column="IMGPATH" />
		
	</resultMap>

	<!-- 장바구니에 상품 하나 추가 -->
	<insert id="addCart">
		INSERT INTO CART
		VALUES(SEQ_CART_NO.NEXTVAL,#{addq},#{productNo},#{memberNo},0)
		<selectKey order="AFTER" resultType="_int"
			keyProperty="cartNo">
			SELECT SEQ_CART_NO.CURRVAL FROM DUAL
		</selectKey>
	</insert>
	<insert id="addSub">
		INSERT INTO CART
		VALUES(SEQ_CART_NO.NEXTVAL,#{addq},#{productNo},#{memberNo},#{cartNo})
	</insert>
	<select id="selectCartList" resultMap="cart_rm">
		SELECT
		CART_NO,PRODUCT_NO,ADD_Q,CART_NO2,PRODUCT_NM,PRODUCT_PRICE,PRODUCT_IMG_PATH||PRODUCT_IMG_NAME
		IMGPATH FROM CART
		LEFT JOIN PRODUCT USING(PRODUCT_NO)
		LEFT JOIN PRODUCT_IMG USING(PRODUCT_NO)
		WHERE MEMBER_NO =#{memberNo} AND PRODUCT_IMG_LEVEL = 0
		ORDER BY 1
	</select>
</mapper>
