<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="chatMapper">
	
	<resultMap type="Chat" id="chat_rm">
		<id property="chatRoomNo" column="CHAT_ROOM_NO"/>
		
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="memberName" column="MEMBER_NAME"/>
	</resultMap>
	
	
	<resultMap type="ChatMessage" id="chatMessage_rm">
		<id property="cmNo" column="CM_NO"/>
		
		<result property="message" column="MESSAGE"/>
		<result property="createDate" column="CREATE_DT"/>
		<result property="chatRoomNo" column="CHAT_ROOM_NO"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="memberName" column="MEMBER_NAME"/>
	</resultMap>
	
	<!-- 채팅 목록 조회 -->
	<select id="chatRoomList" resultMap="chat_rm">
		SELECT CHAT_ROOM_NO, MEMBER_NAME
        FROM CHATTING
        JOIN MEMBER USING(MEMBER_NO) 
        JOIN CHATTING_MESSAGE USING(CHAT_ROOM_NO)     
        WHERE GRADE_CD = 100
        ORDER BY 1 DESC
	</select>
	
	<!-- 채팅방 오픈 -->
	<insert id="openChatRoom" parameterType="Chat" useGeneratedKeys="true">
		<selectKey order="BEFORE" resultType="_int" keyProperty="chatRoomNo">
			SELECT SEQ_CR_NO.NEXTVAL FROM DUAL
		</selectKey>
			INSERT INTO CHATTING(CHAT_ROOM_NO, MEMBER_NO) 
			VALUES(${chatRoomNo}, ${memberNo})
	</insert>
	
	<!-- 채팅방 유무 찾기 -->
	<select id="existsChatRoom" resultType="_int">
		SELECT COUNT(*)FROM CHATTING
		WHERE CHAT_ROOM_NO = #{chatRoomNo} 
	</select>
	
	<!-- 채팅방 입장 -->
	<insert id="joinChatRoom">
		INSERT INTO CHATTING(MEMBER_NO, CHAT_ROOM_NO) VALUES(#{memberNo}, #{chatRoomNo})
	</insert>
	
	<!-- 채팅 메세지 조회 -->
	<select id="selectChatMessage" resultMap="chatMessage_rm">
		SELECT MESSAGE,MEMBER_NO, MEMBER_NAME 
		FROM CHATTING_MESSAGE
		JOIN MEMBER USING(MEMBER_NO)
		WHERE CHAT_ROOM_NO = #{chatRoomNo}
		ORDER BY CM_NO 
	</select>
	
	<!-- 채팅내용 삽입 -->
	<insert id="insertMessage">
		INSERT INTO CHATTING_MESSAGE
		VALUES(SEQ_CM_NO.NEXTVAL,DEFAULT, #{message},  #{chatRoomNo}, #{memberNo})	
	</insert>
	
	<!-- 채팅방 퇴장 -->
	<delete id="exitChatRoom">
		DELETE FROM CHATTING_MESSAGE
		WHERE MEMBER_NO = #{memberNo} 
		AND CHAT_ROOM_NO = #{chatRoomNo}
	</delete>
	
</mapper>
