<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	<typeAliases>
			<typeAlias alias="onedayclass" type="edu.kh.jvj.onedayclass.model.vo.OnedayClass" />
			<typeAlias alias="store" type="edu.kh.jvj.store.model.vo.Store" />
			<typeAlias alias="Member" type="edu.kh.jvj.member.model.vo.Member" />
			<typeAlias alias="Coupon" type="edu.kh.jvj.mypage.model.vo.Coupon" />
	</typeAliases>
	<mappers>
		<mapper resource="/mappers/classlist-mapper.xml" />
		<mapper resource="/mappers/admin-mapper.xml" />
		<mapper resource="/mappers/store-mapper.xml" />
		<mapper resource="/mappers/member-mapper.xml" />
		<mapper resource="/mappers/mypage-mapper.xml" />
	</mappers>
</configuration>
