@charset "UTF-8";
        body{
            margin: 0 auto;
        }
        *{
            font-family: 'Noto Sans KR', sans-serif;
        }
        header{
            width: 100%;
            margin-top: 25px;
            margin-bottom: 25px;
            text-align: center;
        }
        /* 로고 */
        header>img{
            width: 160px;
            height: 160px;
        }
        /* 기본사이즈 */
        main{
            margin: auto;
            height: 100%;
            display: flex!important; 
            justify-content: center;
            flex-direction:column;
        }
        /* 관리자 정보칸 */
        .admin-info{
            width: 100%;
            text-align: right;
            padding-right: 200px;
            font-size: 20px;
        }
        /* 네비게이션 */
        #showfunc{
            width: 100%;
            height: 80px;
            background: #A78A6C;
            display: flex;
            justify-content: center;
        }
        .one-admin-func{
            line-height: 80px;
            width: 180px;
            height: 100%;
            font-size: 18px;
            color: #FFFFFF;
            text-align: center;
            cursor: pointer;
        }
        /* 본문 */
        section{
            padding: 100px;
            align-self: center;
        }
        #adminPCont{
            width: 1250px;
        }
        #adminPCont select, #adminPCont input, .images{
            border: 1px solid #A78A6C;
            box-sizing: border-box;
            border-radius: 10px;
        }
        .opencal,.addBreadType,.calhead>button{
            background: #A78A6C;
            border: 1px solid #A78A6C;
            color: white;
            box-sizing: border-box;
            border-radius: 10px;
        }
        .opencal,.addBreadType,.input-smallcate{
            height: 30px;
        }
        .oneLine{
            width: 100%;
            margin-top: 5px;
            margin-bottom: 25px;
            display: flex;
        }
        .ResultLine>li{
            display: flex;
            justify-content: space-evenly;
        }

        /* 썸네일 크기 */
        .imgline{
            height: 120px;
        }
        /* 썸머노트 높이  */
        .contnote{
            height: 700px;   
            flex-direction : column;
        }
        .note-editor{
            margin-left: 30px;
        }
        .note-statusbar{display: none;}

        .oneLine>.labels{
            padding-left: 30px;
            margin-bottom: 0px;
            height: 50px;
            width: calc( 12% - 30px ); 
        }
        .oneLine> input[name='title'],.oneLine> input[name='detailcontents']{
            display: inline-block;
            width: 30%;
            height: 30px;
        }
        .oneLine> input{
            display: inline-block;
            width: 15%;
            height: 30px;
        }
        .oneLine> select{
            display: inline-block;
            width: 10%;
            height: 60%;
            margin-right: 15px;
            text-align: center;
        }
        .oneLine>h2{
            width: 100%;
            font-size: 25px;
            text-align: center;
            margin: 0px 0px 30px 0px;
        }
        .images{
            width: 120px;
            height: 120px;
            margin-right: 20px;
        }
        .images>img{
            width: 100%;
            height: 100%;
            display: none;
        }
        .thumbdivider{
            margin-right : 20px;
            width: 1px;
            height: 120px;
            border-right: 3px solid black;
        }
        .eachWriter,.each-querybox,.each-article, .modifyP{
            position: relative;
            width: 600px;
            top: -1px;
            left: -185px;
            display: none;
            z-index: 1;
        }
        .each-querybox{
            left: -70px;
            width: 450px;
        }
        .each-article,.modifyP{
            left : -40px;
            width: 300px;
        }
        #writerP:hover > .eachWriter, #querybox:hover >.each-querybox ,#editArticle:hover > .each-article
        ,#manageP:hover> .modifyP{
            display: block;
        }
        .eachW{
            list-style: none;
            width: 100%;
            display: flex;
        }
        .adminWriter,.querywork,.modifyArticle,.manageP{
            width: 150px;
            height: 60px;
            font-size: 18px;
            color:  #A78A6C;
            text-decoration: underline;
            cursor: pointer;
            text-align: left;
            z-index: 1;
        }
        input[type="file"]{
            display:none!important;
        }
        .won{
            font-size: 15px;
            line-height: 30px;
            margin-left: 10px;
        }
        #uppercate>label{
            width: 160px;
        }
        /*  정보 조회 input  */
        .search-member,.subscribe-search, .order-search,.search-review, .addAdmin{
            justify-content:center;
            margin-bottom: 20px;
        }
        .search-member>input,.subscribe-search>select,.search-review>input,.addAdmin>input{
            display: inline-block;
            width: 300px;
            height: 50%;
        }
        .order-search>input,.order-search>select{
            width: 200px;
            height: 50%;
        }
        .notice-title{
            width: 30%;
        }
        /* 제출 취소 btn */
        .write-btns{
            height: 50px;
            width: 100%;
            justify-content:center;
        }
        .write-btns>span{
            display: flex;
        }
        .write-btns>span>button{
            margin-right: 20px;
            width: 100px;
            height: 70%;
        }
        .oneMemberInfo{
            width: 15%;
            text-align: center;
        }
        .sequence{ width:90px;}
        .notice-title{ width:30%;}
        .oneMemberResult{
            border-bottom: 1px solid #eee;
            margin-top: 10px;
        }

        .tagspan{
            background: #eee;
            border: 1px solid #eee;
            color: A78A6C;
            height: 25px;
            box-sizing: border-box;
            border-radius: 10px;
            margin-left: 15px;
        }

        .resultTitle{
            font-size: 20px;
            font-weight: bold;
            border-bottom: 1px solid #A78A6C;
        }

        /* 달력 모달 */
        .cal { 
            position: absolute; 
            top: 0px; left: 0; 
            width: 100%; height: 1800px; 
            display: none; 
            background-color: rgba(0, 0, 0, 0.6); 
            z-index: 3;
        }
        .calendar{
            position: absolute; 
            top: 800px; right: calc(50%  - 250px); 
            background-color: white;
        }
        .calhead{
            margin-bottom: 30px;
            text-align: center;
            background-color: #A78A6C;
        }
        #today-month{
            color: black;
            font-size: 20px;
        }
        #selectDate{
            width: 500px;
            height: 500px;
            color: #A78A6C;
        }
        #month-day > tr > td.possible:hover{
            background-color: #A78A6C;
            color: white;
            cursor: pointer;
        }
        th{text-align: center!important;}
        td{vertical-align: middle; font-size: 20px;}
        td.impossible{
            color: #eee;
        }
        ::-webkit-scrollbar-thumb {
            background: gray; 
            border-radius: 8px;
        }


