@charset "UTF-8";
        body{
            margin: 0 auto;
        }
        *{
            font-family: 'Noto Sans KR', sans-serif;
        }
        header{
        	width: 1920px;
            margin-top: 25px;
            margin-bottom: 25px;
            text-align: center;
        }
        /* 로고 */
        header>img{
            width: 160px;
            height: 160px;
        }
        /* 기본사이즈 */
        main{
            margin: 0 auto;
            width: 1650px;
            height: 100%;
            display: flex!important;
        }
        /* 사이드 네비게이션 */
        aside{
            width: 250px;
            height: 1400px;
            background: #A78A6C;
            display: flex;
            flex-direction : column;
        }
        .one-admin-func{
            margin-top: 30px;
            width: 100%;
            height: 50px;
            font-size: 25px;
            color: #FFFFFF;
            text-align: center;
            cursor: pointer;
            transition: box-shadow 0.2 s ease-in;
        }
        .one-admin-func:hover{
            box-shadow: 
            0 -2px 0 0 rgb(255, 255, 255) inset;
        }

        /* 본문 */
        #adminPCont{
            width: 1400px;
        }
        #adminPCont select, #adminPCont input, .images{
            border: 1px solid #A78A6C;
            box-sizing: border-box;
            border-radius: 10px;
        }
        .opencal,.addBreadType,.calhead>button{
            background: #A78A6C;
            border: 1px solid #A78A6C;
            color: white;
            box-sizing: border-box;
            border-radius: 10px;
        }
        .addBreadType,.input-smallcate{
            height: 30px;
        }
        .oneLine{
            width: 100%;
            margin-top: 25px;
            display: flex;
        }
        .ResultLine>li{
            display: flex;
            justify-content: space-evenly;
        }
        .resultTitle{
            border-bottom: 1px solid #A78A6C;
        }
        /* 썸네일 크기 */
        .imgline{
            height: 120px;
        }
        /* 썸머노트 높이  */
        .contnote{
            height: 700px;   
        }
        .oneLine>.labels{
            padding-left: 30px;
            margin-bottom: 0px;
            height: 50px;
            width: calc( 10% - 20px ); 
        }
        .oneLine> input[name='title']{
            display: inline-block;
            width: 60%;
            height: 30px;
        }
        .oneLine> input{
            display: inline-block;
            width: 15%;
            height: 30px;
        }
        .oneLine> select{
            display: inline-block;
            width: 20%;
            height: 50%;
        }
        .oneLine>h2{
            width: 100%;
            margin-bottom: 25px;
            font-size: 25px;
            text-align: center;
        }
        .images{
            width: 120px;
            height: 120px;
            margin-right: 20px;
        }
        .images>img{
            width: 100%;
            height: 100%;
            display: none;
        }
        .eachWriter{
            position: relative;
            top: -100px;
            right: -250px;
            display: none;
            z-index: 1;
        }
        #writerP:hover > .eachWriter{
            display: block;
        }
        #eachW{
            list-style: none;
        }
        .adminWriter{
            width: 150px;
            height: 50px;
            font-size: 20px;
            color: #A78A6C;
            cursor: pointer;
            background-color: #eee;
            text-align: left;
        }
        input[type="file"]{
            display:none!important;
        }
        #won{
            font-size: 15px;
            line-height: 30px;
            margin-left: 10px;
        }
        #uppercate>label{
            width: 150px;
        }
        /*  정보 조회 input  */
        .search-member,.subscribe-search, .order-search,.search-review, .addAdmin{
            justify-content:center;
            margin-bottom: 20px;
        }
        .search-member>input,.subscribe-search>select,.search-review>input,.addAdmin>input{
            display: inline-block;
            width: 300px;
            height: 50%;
        }
        .order-search>input,.order-search>select{
            width: 200px;
            height: 50%;
        }
        .notice-title{
            width: 30%;
        }
        .resultTitle{
            font-size: 20px;
            font-weight: bold;
        }
        /* 제출 취소 btn */
        .write-btns{
            width: 100%;
            justify-content:center;
        }
        .write-btns>span{
            display: flex;
        }
        .write-btns>span>button{
            margin-right: 20px;
            width: 100px;
            height: 70%;
        }

        /* 달력 모달 */
        .cal { 
            position: absolute; 
            top: 300px; left: 0; 
            width: 100%; height: 100%; 
            display: none; 
            background-color: rgba(0, 0, 0, 0.6); 
        }
        .calendar{
            position: absolute; 
            top: 150px; right: 40%; 
            background-color: white;
        }
        .calhead{
            margin-bottom: 30px;
            text-align: center;
            background-color: #A78A6C;
        }
        #today-month{
            color: black;
            font-size: 20px;
        }
        #selectDate{
            width: 500px;
            height: 500px;
            color: #A78A6C;
        }
        #month-day > tr > td.possible:hover{
            background-color: #A78A6C;
            color: white;
            cursor: pointer;
        }
        th{text-align: center;}
        td{vertical-align: middle; font-size: 20px;}
        td.impossible{
            color: #eee;
        }