@charset "UTF-8";
        body{
            margin: 0 auto;
        }
        *{
            font-family: 'Noto Sans KR', sans-serif;
        }
        header{
            width: 100%;
            margin-top: 25px;
            margin-bottom: 25px;
            text-align: center;
        }
        /* 로고 */
        header>img{
            width: 160px;
            height: 160px;
        }
        /* 기본사이즈 */
        main{
            margin: auto;
            height: 100%;
            display: flex!important; 
            justify-content: center;
        }
        /* 사이드 네비게이션 */
        #showfunc{
            width: 150px;
            height: 1400px;
            background: #A78A6C;
            display: flex;
            flex-direction : column;
        }
        .one-admin-func{
            margin-top: 30px;
            width: 150px;
            height: 50px;
            font-size: 15px;
            color: #FFFFFF;
            text-align: center;
            cursor: pointer;
        }

        /* 본문 */
        #adminPCont{
            width: 1250px;
        }
        #adminPCont select, #adminPCont input, .images{
            border: 1px solid #A78A6C;
            box-sizing: border-box;
            border-radius: 10px;
        }
        .opencal,.addBreadType,.calhead>button{
            background: #A78A6C;
            border: 1px solid #A78A6C;
            color: white;
            box-sizing: border-box;
            border-radius: 10px;
        }
        .opencal,.addBreadType,.input-smallcate{
            height: 30px;
        }
        .oneLine{
            width: 100%;
            margin-top: 5px;
            margin-bottom: 25px;
            display: flex;
        }
        .ResultLine>li{
            display: flex;
            justify-content: space-evenly;
        }

        /* 썸네일 크기 */
        .imgline{
            height: 120px;
        }
        /* 썸머노트 높이  */
        .contnote{
            height: 700px;   
            flex-direction : column;
        }
        .note-editor{
            margin-left: 30px;
        }
        .note-statusbar{display: none;}

        .oneLine>.labels{
            padding-left: 30px;
            margin-bottom: 0px;
            height: 50px;
            width: calc( 12% - 30px ); 
        }
        .oneLine> input[name='title']{
            display: inline-block;
            width: 60%;
            height: 30px;
        }
        .oneLine> input{
            display: inline-block;
            width: 15%;
            height: 30px;
        }
        .oneLine> select{
            display: inline-block;
            width: 20%;
            height: 50%;
        }
        .oneLine>h2{
            width: 100%;
            font-size: 25px;
            text-align: center;
            margin: 0px;
        }
        .images{
            width: 120px;
            height: 120px;
            margin-right: 20px;
        }
        .images>img{
            width: 100%;
            height: 100%;
            display: none;
        }
        .eachWriter{
            position: relative;
            top: -100px;
            right: -142px;
            display: none;
            z-index: 1;
        }
        #writerP:hover > .eachWriter{
            display: block;
        }
        #eachW{
            list-style: none;
        }
        .adminWriter{
            width: 120px;
            height: 50px;
            font-size: 15px;
            color: #A78A6C;
            cursor: pointer;
            background-color: #eee;
            text-align: left;
            z-index: 1;
        }
        input[type="file"]{
            display:none!important;
        }
        .won{
            font-size: 15px;
            line-height: 30px;
            margin-left: 10px;
        }
        #uppercate>label{
            width: 160px;
        }
        /*  정보 조회 input  */
        .search-member,.subscribe-search, .order-search,.search-review, .addAdmin{
            justify-content:center;
            margin-bottom: 20px;
        }
        .search-member>input,.subscribe-search>select,.search-review>input,.addAdmin>input{
            display: inline-block;
            width: 300px;
            height: 50%;
        }
        .order-search>input,.order-search>select{
            width: 200px;
            height: 50%;
        }
        .notice-title{
            width: 30%;
        }
        /* 제출 취소 btn */
        .write-btns{
            width: 100%;
            justify-content:center;
        }
        .write-btns>span{
            display: flex;
        }
        .write-btns>span>button{
            margin-right: 20px;
            width: 100px;
            height: 70%;
        }
        .oneMemberInfo{
            width: 15%;
            text-align: center;
        }
        .sequence{ width:90px;}
        .notice-title{ width:30%;}
        .oneMemberResult{
            border-bottom: 1px solid #eee;
            margin-top: 10px;
        }

        .tagspan{
            background: #eee;
            border: 1px solid #eee;
            color: A78A6C;
            height: 25px;
            box-sizing: border-box;
            border-radius: 10px;
            margin-left: 15px;
        }

        .resultTitle{
            font-size: 20px;
            font-weight: bold;
            border-bottom: 1px solid #A78A6C;
        }
        /* 달력 모달 */
        .cal { 
            position: absolute; 
            top: 0px; left: 0; 
            width: 100%; height: 1300px; 
            display: none; 
            background-color: rgba(0, 0, 0, 0.6); 
        }
        .calendar{
            position: absolute; 
            top: 400px; right: calc(50%  - 250px); 
            background-color: white;
        }
        .calhead{
            margin-bottom: 30px;
            text-align: center;
            background-color: #A78A6C;
        }
        #today-month{
            color: black;
            font-size: 20px;
        }
        #selectDate{
            width: 500px;
            height: 500px;
            color: #A78A6C;
        }
        #month-day > tr > td.possible:hover{
            background-color: #A78A6C;
            color: white;
            cursor: pointer;
        }
        th{text-align: center!important;}
        td{vertical-align: middle; font-size: 20px;}
        td.impossible{
            color: #eee;
        }
        /* 반응형 */
        @media screen and (max-width:1250px){
            main{
                flex-direction:column;
            }
            #showfunc{
                flex-direction:row;
                width: 100%;
                height: 100px;
            }
            .one-admin-func{
                height: 30px;
                border-right: 1px solid #FFFFFF;
                line-height: 30px;
            }
        }

