@charset "UTF-8";

main{
    width: 70%;
    margin: auto;
    display: grid;
    align-items: center;

}

/* 메인 상단 카테고리 */
.main-nav{
    height: 60px;
    display: flex;
    align-items: center; 
    font-size: 13px;
}

.main-nav a{
    vertical-align: middle;
}

.product-area{
    width: 100%;
}

/* 좌측 썸네일 */
.product-thumbnail{
    width: 47%;
    margin: 0;
    float: left;
}

/* 메인 썸네일 영역 */
.main-img-area{
    width: 100%;
    height: 550px;
    margin: auto;
    overflow: hidden;
    align-items: center;
	justify-content : center;
    border-radius: 5px;
    margin: 0 0 15px 0;
}

/* 메인 썸네일 이미지 */
.main-img-area > img{
    width: 100%;
    height:100%;
    border-radius: 5px;
    object-fit: cover;
}

.main-img-area:hover img{
    transform:scale(1.1);
    transition-duration:0.4s;
}


.product-thumbnail div{    
    display: flex;
    justify-content: left;
    width: 100%; 
}

.product-thumbnail div img{
    width: 22%;
    height: 140px;
    border-radius: 5px;
    
}
.img-margin{
    margin-right: calc(100% - 88% - 40px);  
}
.img-margin:last-child{
    margin-right: 0;
}
.review-content>p>img{
	display: block;
	width: 150px!important;
	height : 150px;
}
/* 우측 세부내용 */
.product_detail{  
    width: 47%;
    float: right;
    margin-left: 26px;
}

/* 상품명, 가격 영역*/
.category_product{
    height: 130px;
}
/* 상품명 */
.category-title{
    display: flex;
    justify-content: space-between;
    padding: 25px 0 25px 0;
}

.category-title span{
    width: calc(100% - 83.95px - 80px);
    font-size: 30px;
}
.kakaolink{
    display: flex;
    flex-direction: column;
    width: 80px;
    height: 80px;
}
#kakao-link-btn{
    width: 100%;
    height: 44px;
    text-align: center;
}
#kakao-link-btn>img{
    display: inline-block;
    width: 44px;
    height: 44px;
}
#kakaolink-text{
    width: 100%;
    text-align: center;
    font-size: 12px;
    margin-top: 6px;
}
/* 상품명 */
.category_product span:first-child{
    font-size: 30px;
    font-weight: bold;
    display: block;
}
/* 가격 */
.price{
    font-size: 20px;
    font-weight: bold;
}
/* 선  */
.bottom-line{
    border-bottom: 1px solid #B7B7B7;
}

/* 옵션 설명*/
.sub-detail{
    height: 80px;
    display: inline-flex; 
}
.sub-title, .btn-area{
    margin: auto;
}
.sub-title{
    width: 90px;
    padding-right: 24px;
}
.sub-title > span{   
    font-weight: bold;
}
.subdetail-content{
    display: inline-flex; 
    margin: auto;
}
.subdetail-content > input,.subdetail-content>span{
    height: 40px;
    font-size: 16px;
    color: #A78A6C;
    border: none;
    width: 150px;
    line-height: 40px;
}
.subdetail-content>button{
    color: white;
    background-color: #A78A6C;
    border: none;
    border-radius: 10px;
    height: 30px;
    margin-top: 5px;
}
.nowsubmit>span{
    margin-right: 10px;
}
.total-area{
    padding: 10px;
    background-color: #eee;
    margin-top: 10px;
    margin-bottom: 10px;
}
.total-area>*{
    display:block;
    width: 100%;
    text-align: right;
    margin: 10px 10px 0px 0px;
}
.total-area>span{
    font-size: 16px;
}
.total-area>p{
    font-size: 18px;
    font-weight: bold;
}
.buy-count>*{
    margin-right: 15px;
}
.showpay{
    text-align: right;
    margin-bottom: 5px;
}
.showprice{
    font-weight: bold;
    font-size: 18px;
    margin-left: 10px;
}

/* 결제 버튼 */

.submit-sub{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.submit-sub button{
    font-size: 20px;
    width: 100%;
    height: 70px;
    font-weight: bold;
    display: inline; 
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.shopping-btn{
    color : var(--text-color);
    background-color: #f3f3f3;
}
.shopping-btn:hover{
    background-color: #cccccc;
    transition: 0.3s;
}

.submit-btn{
    color: white;
    background-color: #A78A6C;
}
.submit-btn:hover {
    background-color: #ceb498;
    transition: 0.3s;
}

/* 구독신청 버튼 */
.like-btn{
    width: 10%;
    height: 70px;
    border: none;
    background: none;
}
.like-btn>i{
    font-size: 50px;
}
.submit-btn > span{
    font-size: 20px;
}
.submit-btn:hover, .submit-btn:active, .submit-btn:focus {
    background-color: #ceb498;
    transition: 0.3s;
}
/* 내용들 */
.contents-top-line{
    margin-top: 90px;
    border-bottom: 1px solid #B7B7B7;
}
#contents-exp img{
	width : 100%!important;
}
.detail-contents{
    width: 100%;
    z-index: 2;
}
.detail-contents ul li{
    width: 33%;
    height: 60px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    line-height: 59px;
}

.contents-bottom-line{
    border-bottom: 3px solid #A78A6C;
}

/* 상품설명/ 리뷰 / 배송환불 */
.detail-contents{
    position: sticky;
    top: 0;
    background-color: white;
}

/* 상품 설명 */
.exp-img{
    width: -webkit-fill-available;
}

/* 경계선 css  */
.boundary-line{
    border-top: 10px solid #F6F6F6;
}
/*//////////////////////////////////////////////////////////////////////////////////////// */
/* 맵 */
#cal { 
    position: absolute; 
    top: 0; left: 0; 
    width: 100%;height: 1500px;
    display: none;  
    background-color:  rgba(0, 0, 0, 0.6); 
    z-index: 2;
}
#showmap{
    position: absolute; 
    width:1000px;height:700px;
    top: 20%; right: calc( 50% - 500px ); 
    background-color: white;
    text-align: center;
}
#showmap>span{
    display: block;
    font-size: 35px;
    padding-bottom: 25px;
    background-color: #A78A6C;
    color: white;
}
#showmap>button{
    position: absolute;
    top: 0px;
    right: 0px;
    height: 45px;
    font-size: 25px;
    border: 2px solid black;
    background-color: #A78A6C;
    color: white;
}

/* /////////////////////////////////////////////////////////////////////////////////////// */
/* 리뷰, 배송 공통 */
.header-title{
    height: 80px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #B7B7B7;
}
.header-title p, .delievery-title p, .refund-title p{
    font-size: 25px;
    font-weight: bold;
}

/* 리뷰 */
.review-header{
    justify-content: space-between;
}

/* 리뷰 select option */
#selectcate{
    border: 1px solid #B7B7B7;
    border-radius: 5px;
    color: #B7B7B7;
    font-size: 15px;
    width: 115px;
    height: 30px;
    text-align: center;;
}

.review-header-right{
    display: inline-flex;
}
.reviewWrite{
    font-size: 14px;
    color: #A78A6C;
    margin-left: 20px;
    line-height: 28px;
}
.reviewWrite:hover{
    text-decoration: underline;
}

.align-div{
    text-align: right;

}

#align-div>span{
    display: inline-block;
    width: 120px;
    text-align: center;
}
#align-div>button{
    border: none;
    background: none;
    font-size: 15px;
}
#align-div>button:hover{
    cursor: pointer;
}


/* 리뷰 내용 */
.one-line-review{
    display: flex;
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #B7B7B7;
}
.one-line-review>span{
    display: block;
    
    color: #323232;
    font-size: 13px;
    font-weight: bold;
}

.one-line-review>span:nth-of-type(1){ width: 60%;}
.one-line-review>span:nth-of-type(2){ 
    width: 15%;
    text-align: center;
}
.one-line-review>span:nth-of-type(3){ width: 15%;
    text-align: center;
}


/* 별점 */ 
.gold{ color: gold;}
.gray{ color: rgb(187, 187, 187);}

/* 페이지네이션 */
.pagination-area{
    height: 100px;
}
.pagination{
    text-align: center;
    color:#787878;
    font-weight: bold;
    line-height: 98px;
}

.pagination > li{
    display: inline-block;
    margin:0 10px 0 10px;
    text-align: center;
    line-height: 24px;
}


/* 페이지네이션 선택 효과 css */
.page-effect{
    width: 25px;
    height: 25px;
    border-radius: 20px; 
    background-color: #B9845A; 
    color: white;
}

/* 배송/교환/환불 */
.contents-delievery{
    margin-bottom: 80px;
}
.delievery-area{
    width: 100%;
    display: inline-flex;
    border-bottom: 1px solid #B7B7B7;
}
.delievery-box {
    height: 220px;
}
.refund-box{
    height: 330px;
    margin-top: 5px;
}

/* 영역 구분 선 */
.area-line{
    width: 1px;
    height: 200px;
    border-right: 1px solid #B7B7B7;
    margin-top: 10px;
}

.refund-line{
    height: 310px;
}

.delievery-title, .refund-title{
    width: 20%;
    margin-top: auto;
    margin-bottom: auto;
}

.delievery-title p, .refund-title p{
    text-align: center;
}
.delievery-content, .refund-content {
    width: 80%;
    margin: 10px 0 10px 10px;
}

.delievery-content pre, .refund-content pre{
    font-size: 13px;
}


/* heart */

.heart-btn{
	width:10%;
	height:70px;
    text-align: center;
}

.contentss{
    display:inline-block;
    width: 40px;
    height: 40px;
    border: 2px solid #eae2e1;
    border-radius: 50%;
    cursor: pointer;
    }
.contentss.heart-active{
    border-color: #f9b9c4;
    background: #fbd0d8;
    position:relative; z-index:1;
    }
.heart{
    background: url("../../images/store/heart.png") no-repeat;
    background-position: left;
    background-size: 2900%;
    height: 71px;
    width: 73px;
    position:relative; z-index:-1;
    transform: translate(-22%,-19%);
    }
.text{
    clear: both;
    font-size: 13px;
    color: grey;
    font-weight: bold;
    padding-left: 3px;
    }

.text.heart-active{
    color: #000;
    }
.heart-active{
    animation: animate 0.8s steps(28) 1;
    background-position: right;
    position:relative; 
    z-index:-1;
    }
    .review-title{
        cursor: pointer;
    }
    .review-content{
        cursor:pointer;
        height: 400px;
    }