@charset "UTF-8";

  *{
            font-family: 'Noto Sans KR', sans-serif;
        }
        body{
            width: 100%;
            margin: 0 auto;
        }
        section{
            width: 1200px;
            margin: 0 auto;
        }
        #classmainimg{
            width: 100%;
            height: 350px;
            text-align: center;
        }
        #classmainimg>img{
            width: 100%;
            height: 100%;
        }
        #pathline{
            height: 80px;
            width: 100%;
            line-height: 50px;
        }
        #pathline>a{
            margin-left: 15px;
            margin-right: 15px;
        }
        #classpname{
            color: #A78A6C;
            text-align: center;
            margin-bottom: 10px;
        }
        #align-div{
            text-align: right;
            margin-top: 60px;
            margin-bottom: 30px;
        }

        #placespan{
            display: block;
            font-size: 15px;
            text-align: center;
            color: black;
        }
    
        #align-div>button{
            border: none;
            background: none;
            font-size: 15px;
        }
        #align-div>button:hover{
            cursor: pointer;
        }
        #align-div>button:first-of-type,#align-div>select{
            border-right: 1px solid black;
        }
        #align-div>select{
            padding-right: 15px;
        }
        .fa-undo-alt{
            padding-left: 15px;
            font-size: 20px;
        }
        #align-div>button:first-of-type:hover,#align-div>select:hover, .fa-undo-alt:hover{
            color: #A78A6C;
            cursor: pointer;
        }
        /* 클래스정보 라인 */
        .newOneLine{
            width: 100%;
            height: 1200px;
            display: flex;
            flex-wrap:wrap;
            justify-content:center;
            margin-top: 15px;
        }
        .newOneclassInfo{
            width: 25%;/* 300px */
            height: 50%;
        }
        .newDate{
            width: 100%;
            height: 15%;
            border-bottom: 1px solid black;
        }
        .newDate>span{
            display: block;
            height: 50%;
            font-size: 18px;
            line-height: 50px;
            text-align: center;
            margin: 0px 20px 0px 20px;
            color: #C1C1C1;
        }
        .newDate>span:first-of-type{
            color:black;
        }
        .newClassInfo{
            width: 100%;
            height: 85%;
        }
        .newClassInfo>a{
            width: calc(100% - 30px);
            height: 100%;
            display: flex;
            flex-direction: column;
        }
        .newClassInfo>a>*{
            margin: 15px 15px 0px 15px;
        }
        .newClassInfo>a>span{
            padding-left: 15px;
        }
        .newClassInfo>a>img{
            width: 100%;
            height: 60%;
            border-radius: 10px;
        }
        .newClassInfo>a>span:first-of-type{
            font-size: 22px;
        }
        .newinfoLine{
            width: 100%;
            height: 6%;
            font-size: 12px;
            color: #C1C1C1;
        }
        .review-ratings-reals{
            position:absolute; 
            width:60px; overflow:hidden; white-space:nowrap; color:gold; z-index:1;
		}
		.review-ratings-bases{
            position:absolute; 
            width:120px; overflow:hidden; color:#cdcdcd;
		}
        .newinfoLine>span:nth-of-type(3){
            margin-left: 70px;
        }
		.fa-heart{
            color: red;
            margin: 0px 5px 0px 5px;
		}
        fa-calendar-alt{
            color: #A78A6C;
        }
        .fa-map-marker-alt{
            color: #A78A6C;
            margin: 0px 5px 0px 5px;
        }

        .noclass{
            text-align: center;
            font-size: 25px;
            margin: 30px 0px 30px 0px;
        }
        /* 달력 모달 */
        .cal ,.loadingshow{ 
            position: absolute; 
            top: 0; left: 0; 
            width: 100%; height: 2000px; 
            display: none; 
            background-color: rgba(0, 0, 0, 0.6); 
            z-index: 2;
        }
        .loadingshow{
            display: block;
        }
        .calendar{
            position: absolute; 
            top: 30%; right: calc( 50% - 250px ); 
            background-color: white;
        }
        .loadingtext{
            position: absolute; 
            top: 25%; right: calc( 50% - 150px ); 
            background-color: white;
        }
        .loadingtext>img{
            display: block;
            width: 300px;
            height: 300px;
        }
        .loadingtext>h1{
            width: 300px;
            color: #A78A6C;
            font-size: 20px;
            text-align: center;
        }
        .calhead,.placehead{
            margin-bottom: 30px;
            text-align: center;
            background-color: #A78A6C;
        }
        #today-month{
            color: black;
            font-size: 20px;
        }
        #selectDate{
            width: 500px;
            height: 400px;
            color: #A78A6C;
        }
        #month-day > tr > td.possible:hover{
            background-color: #A78A6C;
            color: white;
            cursor: pointer;
        }
        th{text-align: center;}
        td{vertical-align: middle; font-size: 20px;}
        td.impossible{
            color: #eee;
        }
        #selectplace{
            border: none;
            font-size: 15px;
            appearance:none;
        }
        .opencal{
            margin-right: 10px;
            padding-right: 15px;
        }
        i{
            margin-right: 5px;
        }
        .month-control,#allcal,#closecal{
            background: none;
            border: none;
        }
        .month-control:hover,#allcal:hover,#closecal:hover{
            cursor: pointer;
            color: white;
        }
        /* 스크롤영역 */
        #allcal,#closecal{
            font-size: 18px;
        }

        
/*                 반응형 
        @media screen and (max-width:768px){
            #pathline{
                display: none;
            }
            section{
                width:100%;
            }
            #classmainimg{
                height: 150px;
            }
            #align-div>*{
                font-size: 10px!important;
            }
            .oneClassLine{
                height: 370px;
                margin-top: 10px;
            }
            .oneCInfo{
                height: 300px;
            }
            .classimg>img{
                width: 150px;
                height: 150px;
            }
            .oneCInfo>div:nth-of-type(2){
                font-size: 10px;
            }
            .oneCInfo>div{
                font-size: 8px;
            }
        } */

        