@charset "UTF-8";

        body{
            width: 100vw;
            margin: 0 auto;
        }
        section{
            width: 1200px;
            margin: 0 auto;
        }
        #pathline{
            height: 80px;
            width: 100%;
            line-height: 50px;
        }
        #pathline>a{
            margin-left: 15px;
            margin-right: 15px;
        }
        #classpname{
            color: #A78A6C;
            text-align: center;
            margin-bottom: 10px;
        }
        #align-div{
            text-align: right;
        }
        #align-div>span{
            display: inline-block;
            width: 120px;
            text-align: center;
        }
        #align-div>button{
            border: none;
            background: none;
            font-size: 15px;
        }
        #align-div>button:hover{
            cursor: pointer;
        }
        #selectcate{
            border: 1px solid #B7B7B7;
            color: #B7B7B7;
            font-size: 15px;
            width: 102px;
            height: 30px;
        }

        /* 공지사항 list */
        #noticebox{
            width: 100%;
            height: 700px;
            margin-top: 30px;
            border-top: 5px solid rgba(167, 138, 108, 0.5);
        }
        .one-line-notice{
            display: flex;
            height: 60px;
            line-height: 60px;
            border-bottom: 1px solid #eee;
        }
        .one-line-notice>span{
            display: block;
            text-align: center;
            color: #323232;
            font-size: 15px;
            font-weight: bold;
        }
        .header-notice>span{
            font-size: 20px;
        }
        .one-line-notice>span:nth-of-type(1){ width: 14%;}
        .one-line-notice>span:nth-of-type(2){ width: 14%;}
        .one-line-notice>span:nth-of-type(3){ width: 40%;}
        .one-line-notice>span:nth-of-type(4){ width: 12%;}
        .one-line-notice>span:nth-of-type(5){ width: 20%;}
        
        
        /* 반응형 */
        @media screen and (max-width:768px){
            #pathline{
                display: none;
            }
            section{
                width:100%;
            }
            .one-line-notice>span{
                font-size: 8px;
                overflow : hidden ; white-space : nowrap ; text-overflow : clip '
            }
        }
        