@charset "UTF-8";

.login-title {
	text-align: center;
	margin: 80px 0 80px 0;
}

.login-title > p {
	font-size: 30px;
	font-weight: bold;
}

.input-info {
    margin-bottom: 10px;
}
.input-info-div, .login-btn{
    display: flex;
    justify-content: center;
    margin: auto;
}

.p-div, .input-div{
    display: inline-block;
    line-height: 38px;
    margin-bottom: 10px;
}

.p-div{
    width: 130px;
    font-size: 18px;
}

.input-div > input{
    border: 2px solid #A78A6C;
    border-radius: 4px;
    width: 250px;
    height: 40px;
}

/* 체크박스 커스텀 */
/* Customize the label (the container) */
.container {
    /* display: block; */
    position: relative;
    padding-left: 20px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 90px;
    margin-right: 88px;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    border-radius: 25%;
    border: 1px solid #A78A6C;
}
/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #A78A6C;  
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 4px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


.saveContent{
    display: flex;
    justify-content: center;
}

.saveContent > div {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.saveContent ul {
    display: inline-block;
}

.saveContent ul > li{
    float: left;
}

.updown {
	display: inline;
	border: 0.5px solid black;
	width: 0.1px;
	height: 15px;
	margin-left: 5px;
	margin-right: 5px;
	opacity: 20%;
}

#login{
    cursor: pointer;
    background-color: #A78A6C;
    width: 400px;
    height: 50px;
    border: 0;
    border-radius: 4px;
    font-size: 20px;
    color: #FFFFFF;
}

.login-btn{
    margin-bottom: 20px;
}



.login-btns {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.login-btns div {
	width: 200px;
	height: 40px;
	border-radius: 10px;
	font-size: 15px;
}

.login-kakao, .login-naver{
    display: inline-block;
    position: relative;
    margin: 0 5px;
}

.login-btns img {
	margin: 7.5px 10px;
	width: 25px;
	height: 25px;
}

.login-kakao {
	background-color: #FAE100;
	color: white;
}

.login-naver {
	background-color: #36C736;
	color: white;
}


.login-kakao > p, .login-naver > p {
    position: absolute;
    display: inline-block;
    line-height: 40px;
    font-weight: bold;
}

.goSignUp{
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 100px;
}