@charset "UTF-8";   

.login-title {
	text-align: center;
	margin: 80px 0 80px 0;
}

.login-title > p {
	font-size: 30px;
	font-weight: bold;
}



.input-info-div{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.input-info span{
    display: inline-block;
    color: #A78A6C;
    margin-top: 4px;
}

.search-info{
    border: 2px solid #A78A6C;
    border-radius: 4px;
    width: 300px;
    height: 40px;
}

.p-div, .input-div{
    float: left;
    margin-right: 15px;
    margin-left: 15px;
	line-height: 38px;
}
.p-div{
    width: 90px;
}

.name-div{
	width: 525px;
}

.search-info-select{
    border: 2px solid #A78A6C;
    border-radius: 4px;
    height: 45px;
    margin-left: 12px;
}

.phone-input {
    width: 150px;
}

.search-btn{
	display: flex;
	justify-content: center;
	margin: 50px 0;
}


#search-id{
	cursor: pointer;
    background-color: #A78A6C;
    width: 300px;
    height: 45px;
    border: 0;
    border-radius: 4px;
    font-size: 20px;
    color: #FFFFFF;
}

.flex-div{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.goSignUp {
    display: inline-block;
}

.goSignUp > li{
    float: left;
}

.updown {
    display: inline;
    border: 0.5px solid black;
    width: 0.1px;
    height: 15px;
    margin-left: 5px;
    margin-right: 5px;
    opacity: 20%;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
