@charset "UTF-8";   

.title-section {
	text-align: center;
	margin: 80px 0 80px 0;
}

.title-section > p {
	font-size: 30px;
	font-weight: bold;
}





.member-form-info{
    display: flex;
    justify-content: center;
    font-size: 20px;
}


.input-info {
    display: flex;
    justify-content: flex-start;
    flex-flow: column wrap;
    margin-top: 30px;
    margin-bottom: 30px;
}

.input-info-div{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.input-info span{
    display: inline-block;
    color: #A78A6C;
    margin-top: 4px;
}

.member-info{
    border: 2px solid #A78A6C;
    border-radius: 4px;
    width: 300px;
    height: 40px;
}

.p-div, .input-div{
    float: left;
    margin-right: 15px;
    margin-left: 15px;
	line-height: 40px;
}
.p-div{
    width: 130px;
}

#search-btn{
	cursor: pointer;
    background-color: #A78A6C;
    width: 300px;
    height: 45px;
    border: 0;
    border-radius: 4px;
    font-size: 20px;
    color: #FFFFFF;
}

.flex-div{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.goSignUp {
    display: inline-block;
}

.goSignUp > li{
    float: left;
}

/*  유효성 검사용들 p */
.check-p{
	font-size: small;
    margin-left: 245px;
    display: block;
    font-weight: normal;
    
}