@charset "UTF-8";   

.login-title {
	text-align: center;
	margin: 80px 0 80px 0;
}

.login-title > p {
	font-size: 30px;
	font-weight: bold;
}

.login-title > span {
	font-size: 20px;
	font-weight: bold;
}


.flex-div{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.goSignUp {
    display: inline-block;
}

.goSignUp > li{
    float: left;
}

.updown {
    display: inline;
    border: 0.5px solid black;
    width: 0.1px;
    height: 15px;
    margin-left: 5px;
    margin-right: 5px;
    opacity: 20%;
}
