/* info nav */
#hr{
    width: 280px; 
    height: 5px; 
    background-color: rgba(167, 138, 108, 1); 
    margin-bottom: 20px;
    
}

.divNav{
    width: 24%; 
    display: inline-block; 
    font-size: 23px;
    margin-right: 5px;
    position: absolute;
    margin-top:40px;
    
}

.divNav>ul{
    list-style: none; 
    margin: 0; 
    padding: 0;
    
}

.divNav>ul>li:first-child{
    font-weight: bold; 
    font-size: 25px;
} 


.divNav .subText{ margin-top: 20px;}
.divNav .topText{ margin-bottom: 10px;}
.divNav .mTopText{ margin-top: 55px;}

/*
.divNav .subText{ margin-top: 25px;}
.divNav .topText{ margin-bottom: 30px;}
.divNav .mTopText{ margin-top: 55px;}
*/
