
article{margin-left: 400px;}

/* 타이틀 */
.titleText{ 
    text-align: center; 
    margin-top: 60px; 
    height: 55px; 
    color: rgba(86, 67, 52, 1);
    font-size: 27pt; 
    font-weight: bold;
    margin-left: 400px;
}

/* main table */
table{
    width: 900px; display: inline-block; 
    border-top: rgba(167, 138, 108, 1) solid 2px;
    border-bottom: rgba(167, 138, 108, 1) solid 2px;
    border-collapse: collapse;
};

#tb-tr{
    color: rgba(167, 138, 108, 1); 
    
}

#tb-tr>td{
    border-bottom: rgba(167, 138, 108, 1) solid 2px; 
    padding-top: 10px; 
    padding-bottom: 10px; 
    font-weight: bold;
    text-align: center;
    color: rgba(167, 138, 108, 1);
}

.tb-tbd{
    height: 70px;
   /*  background-color: rgba(167, 138, 108, 0.3); */
}
.tb-tbd>td{
    border-bottom: rgba(183, 183, 183, 1) solid 1px; font-size: 15px;
    text-align: center;
}


#td1{ width: 250px;}
#td2{ width: 100px;}
#td3{ width: 215px;}
#td4{ width: 205px;}
#td5{ width: 130px;}

.shippingBtn{ 
    width: 100px; 
    height: 30px; 
    border-radius: 5px;
    background-color: white;
    border: solid 1px rgba(167, 138, 108, 1);
    color: rgba(167, 138, 108, 1);
    font-weight: bold;
    margin-bottom: 10px;
}
.fontColor{color: rgba(167, 138, 108, 1); font-weight: bold;}

/* 기간 지난 경우 */
.overdate{
    background-color: #eee;
    text-decoration: line-through;
}
/* 사용 완료 경우 */
.donetd{
    text-decoration: line-through;
    background-color: #eee;
}

/* 페이지 네이션 */
.pagination{
    list-style: none; 
    margin-bottom: 120px;
}
.pagination>li{
    display: inline-block;
}

.pagiLink{
    text-decoration: none; 
    font-size: 15pt;
    margin-top: 50px;
    margin-bottom: 120px;
    margin: 10px 10px;
    color: black;
}

.pagiLink2{
    text-decoration: none; 
    font-size: 15pt;
    color: black;
}
.pagiList{
    width: 30px; 
    height: 30px;
    border-radius: 100%;
    text-align: center;
}

.pagiList:hover{
    background-color: rgba(167, 138, 108, 1);
}
.pagiLink:hover{
    color: white; 
}
.pagiLink2:hover{
    color: white; 
}

.pagi{
    color: black;
}
.pagi:hover{
    color: rgba(167, 138, 108, 1);
    font-weight: bold;
}
.page{
    text-align: center;
    margin-top:15px;
}

/* 목록 조회 버튼 */
.selectDiv{
    width: 900px;
    margin-bottom: 10px;
    display: inline-block;
    text-align: right;
    margin-top: 20px;
}
.selectDiv>span{ 
    font-size: 14px;
    font-weight: bold;
    color: rgba(167, 138, 108, 1);
    text-align: right;
}
#selectOption{
    width: 120px;
    height: 30px;
    color: rgba(167, 138, 108, 1);
    border: rgba(167, 138, 108, 1) 1px solid;
    border-radius: 5px;
}

.sectionBody{margin-top: 60px;}