article{margin-left: 400px;}
section{margin-top: 60px}

/* 타이틀 */
.titleText{ 
    text-align: center; 
    margin-top: 60px; 
    height: 55px; 
    color: rgba(86, 67, 52, 1);
    font-size: 27pt; 
    font-weight: bold;
    margin-left:400px;
}

.pagination{
    margin-bottom: 120px;
    list-style-type: none;
    padding: 0;
}
.pagination>li{
    display: inline-block;
}

.pagiLink{
    text-decoration: none; 
    font-size: 15pt;
    margin-top: 50px;
    margin-bottom: 120px;
    margin: 10px 10px;
    color: black;
}

.pagiLink2{
    text-decoration: none; 
    font-size: 15pt;
    color: black;
}
.pagiList{
    width: 30px; 
    height: 30px;
    border-radius: 100%;
    text-align: center;
}

.pagiList:hover{
    background-color: rgba(167, 138, 108, 1);
}
.pagiLink:hover{
    color: white; 
}
.pagiLink2:hover{
    color: white; 
}

.pagi{
    color: black;
}
.pagi:hover{
    color: rgba(167, 138, 108, 1);
    font-weight: bold;
}
.page{
    text-align: center;
    margin-left: 50px;
    margin-top: 15px;
}

.topText{
    width: 900px;
    margin-bottom: 10px;
    display: inline-block;
}
.topText>span{ 
    font-size: 13px;
    font-weight: bold;
    color: rgba(167, 138, 108, 1);
    text-align: right;
}

.toDay{
    width: 900px;
    margin-bottom: 10px;
    display: inline-block;
    text-align: right;
    margin-top: 5px;
}
.toDay>span{ 
    font-size: 14px;
    font-weight: bold;
    color: rgba(167, 138, 108, 1);
    text-align: right;
}
.dateBtn{
    color: rgba(167, 138, 108, 1);
    background-color: white;
    border: rgba(167, 138, 108, 1) 1px solid;
    border-radius: 5px;
    width: 70px;
    height: 30px;
}


.mainTable{
    width: 900px;  
    border-top: rgba(167, 138, 108, 1) solid 2px;
    border-bottom: rgba(167, 138, 108, 1) solid 2px;
}
.tList > ul > li{
    list-style-type: none;
    display: inline-block;
    padding: 0;
}
.tList > ul{
    padding: 0;
    margin: 0;
}
.thList > ul{
    width: 900px;
    height: 45px; 
    border-bottom: rgba(167, 138, 108, 1) solid 2px; 
    color: rgba(167, 138, 108, 1);
    font-size: 18px;
}
.thList > ul>li{
    color: rgba(167, 138, 108, 1);
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
    
}

.tbList > ul{
    width: 900px;
    height: 100px;
    border-bottom: rgba(183, 183, 183, 1) solid 1px; font-size: 15px;
}
.tbList > ul > li{
    height: 100px;
    text-align: center;
    display: flex;
    float: left;
}
.tbList ul > li > img{
    width: 80px; 
    height: 80px;
    margin-left: 15px;
}



/* thead 간격 */
.tname{display: inline-block;}
.tname > li{ 
	display:inline-block; 
}
.tname > li:first-child{
    width: 100px;
}
.tname > li:nth-child(2){
    width: 200px;
}
.tname > li:nth-child(3){
    width: 200px;
}
.tname > li:nth-child(4){
    width: 200px;
}
.tname > li:last-child{
    width: 100px;
}

/* tbody 간격 */
.tbname{
	display: flex; 
	
}
.tbname>li{
    justify-content: center;
    align-items: center;
}
.tbname > li:first-child {
    width: 100px;
}
.tbname > li:nth-child(2) {
    width: 300px;
    padding-left: 20px;
}
.tbname > li:nth-child(3) {
    width: 300px;
}
.tbname > li:nth-child(4) {
    width: 300px;
}

.tbname > li:last-child{
    width: 250px;
    float: right;
    height: 100px;
    display: flex;
    flex-direction: column;
}

.tbname > li > img{
    border: solid 1px rgba(167, 138, 108, 1);
    border-radius: 10px;
}

.p-btn{ 
    width: 100px; 
    height: 30px; 
    border-radius: 5px;
    background-color: white;
    border: solid 1px rgba(167, 138, 108, 1);
    color: rgba(167, 138, 108, 1);
    font-weight: bold;
    margin-bottom: 3px;
    margin-top: 3px;
    
}

.letter{
    color: rgba(167, 138, 108, 1);
    font-weight: bold;
    margin-top: 35px;
    height: 20px;
    
}