article{margin-left: 400px;}
section{margin-top: 60px; margin-bottom: 700px;}
/* 타이틀 */
.titleText{ 
    text-align: center; 
    margin-top: 60px; 
    height: 55px; 
    color: rgba(86, 67, 52, 1);
    font-size: 27pt; 
    font-weight: bold;
    margin-left: 400px;
}

/* main table */
table{
    width: 900px; 
    display: inline-block; 
    border-top: rgba(167, 138, 108, 1) solid 2px;
    border-bottom: rgba(167, 138, 108, 1) solid 2px;
    border-collapse: collapse;
};

#tb-tr{
    color: rgba(167, 138, 108, 1); 
    
}

#tb-tr > td{
    border-bottom: rgba(167, 138, 108, 1) solid 2px; 
    padding-top: 10px; 
    padding-bottom: 10px; 
    font-weight: bold;
    text-align: center;
    color: rgba(167, 138, 108, 1);
}
#td1{ width: 100px;}
#td2{ width: 250px;}
#td3{ width: 420px;}
#td4{ width: 0px;}
#td5{ width: 130px;}

.tb-tbd > td{
    border-bottom: rgba(183, 183, 183, 1) solid 1px; 
    font-size: 15px;
    text-align: center;
    vertical-align : middle;
    height: 100px;

}

.tb-tbd > td:first-child {
    width: 100px;
}
.tb-tbd > td:nth-child(2) {
    width: 250px
}
.tb-tbd > td:nth-child(3) {
    width: 420px;
}
.tb-tbd > td:nth-child(4) {
    width: 0px;
}
.tb-tbd > td:nth-child(5) {
    width: 130px;
}





.shippingBtn{ 
    width: 100px; 
    height: 30px; 
    border-radius: 5px;
    background-color: white;
    border: solid 1px rgba(167, 138, 108, 1);
    color: rgba(167, 138, 108, 1);
    font-weight: bold;
    margin-bottom: 10px;
}
.fontColor{color: rgba(167, 138, 108, 1); font-weight: bold;}



/* 페이지네이션 */
.pagination-area{
    height: 100px;
}
.pagination{
    text-align: center;
    color:#787878;
    font-weight: bold;
    line-height: 98px;
}

.pagination > li{
    display: inline-block;
    margin:0 10px 0 10px;
    text-align: center;
    line-height: 24px;
}


/* 페이지네이션 선택 효과 css */
.page-effect{
    width: 25px;
    height: 25px;
    border-radius: 20px; 
    background-color: #B9845A; 
    color: white;
}

/* 목록 조회 버튼 */
.selectDiv{
    width: 900px;
    margin-bottom: 10px;
    display: inline-block;
    text-align: right;
}
.selectDiv>span{ 
    font-size: 14px;
    font-weight: bold;
    color: rgba(167, 138, 108, 1);
    text-align: right;
}
#selectOption{
    width: 120px;
    height: 30px;
    color: rgba(167, 138, 108, 1);
    border: rgba(167, 138, 108, 1) 1px solid;
    border-radius: 5px;
}

.sectionBody{margin-top: 60px;}

/* info nav */
#hr{
    width: 280px; 
    height: 5px; 
    background-color: rgba(167, 138, 108, 1); 
    margin-bottom: 20px;
    
}

.divNav{
    width: 24%; 
    display: inline-block; 
    font-size: 23px;
    margin-right: 5px;
    position: absolute;
    margin-top: 30px;
}

.divNav>ul{
    list-style: none; 
    margin: 0; 
    padding: 0;
    
}

.divNav>ul>li:first-child{
    font-weight: bold; 
    font-size: 25px;
} 


.divNav .subText{ margin-top: 20px;}
.divNav .topText{ margin-bottom: 10px;}
.divNav .mTopText{ margin-top: 55px;}