article{margin-left: 400px; margin-top: 60px;}
section{margin-top: 60px}
/* 타이틀 */
.titleText{ 
    text-align: center; 
    margin-top: 60px; 
    height: 55px; 
    color: rgba(86, 67, 52, 1);
    font-size: 30pt; 
    font-weight: bold;
    padding-left: 300px;
}
.article{
    display: inline-block; 
    width: 100%; 
    margin-top: 60px;
    
}

/* info input */
.infoForm{
    display: inline-block; 
    margin-left: 140px;
    margin-top: 50px;
} 
.memberAdd{ 
    height: 36px; 
    border-radius: 10px; 
    border: 2px solid rgba(167, 138, 108, 1); 
    font-size: 13px; 
    color: rgba(109, 109, 109, 1);
}

/* 이름, 전화번호 input */
.inputLabel{
    display:inline-block; 
    width: 120px; 
    line-height: 10px;
    font-size: 20px;
    font-weight: bold;
}
.inputeel{
    height: 36px; 
    border-radius: 10px; 
    border: 2px solid rgba(167, 138, 108, 1); 
    font-size: 13px; 
    text-align: center;
    margin-bottom: 20px;
    padding: 0;
}
.nameInput{
    width: 150px;
    font-weight: bold;
}
.phoneInput{
    margin-bottom: 20px;
    width: 200px;
    font-weight: bold;
}



/* 주소 input */
.addIb{
    margin-left: 126px;
}
#addInput>p{
    font-size: 20px;
    font-weight: bold;
    float: left;
    margin-right: 43px;
    padding-bottom: 9px;
    margin: 0;
    margin-top: 10px;
}
.addInput1{
    width: 150px; 
    margin-bottom: 15px; 
    display: block; 
    float: left; 
    margin-right: 10px;
    margin-left: 86px;
    padding: 0; 
}
.addInput2{
    width: 480px;  
    margin-bottom: 15px;
    float: left;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    padding: 0;
}
.addInput3{
    width: 480px; 
    display: block; 
    padding: 0;
}
.addInput3::placeholder{
    font-size: 13px; 
    color: rgba(109, 109, 109, 1);
}

.addBtn{ 
    width: 100px; 
    height: 40px; 
    background-color: rgba(167, 138, 108, 1); 
    color: white; 
    border-radius: 20px;
}

.subBtn{
    margin-top: 160px; 
    margin-bottom: 120px;
}
.subBtn>button{ 
    width: 614px; 
    height: 60px;  
    border-radius: 10px; 
    font-size: 15pt; 
    font-weight: bold;
}
#infoUpdate{
    color: white; 
    background-color: rgba(167, 138, 108, 1); 
    border: rgba(167, 138, 108, 1);
    margin-bottom: 10px;
}
#infoDelete{
    background-color: rgba(238, 238, 238, 1); 
    border: rgba(238, 238, 238, 1);
}

label[for="cbInput"]{ 
    display: inline-block;
    width: 24px;
    height: 24px;
    border: rgba(167, 138, 108, 1) solid 1px;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
} 

input[id="cbInput"]:checked + label {
	background-color: rgba(167, 138, 108, 1);
}
input[id="cbInput"]{
    display: none;
    
}

.chkInput{
    margin-left: 126px;
}
.chkInput>div{
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    margin-left: 35px;
}

#btnDiv>input{
	font-size:18px;
}
